@use '../../styles/variables';
@use '../../styles/global';

$transition: all 0.15s ease-out;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background: var(--mm-color-background);
  display: grid;
  flex: 1 1 auto;
  /* autoprefixer: ignore next */
  grid-template-areas: 'article sidebar';
  grid-template-columns: 360px var(--mm-layout-sidebar-width);
  grid-template-rows: 100%;
  transition: $transition;
}

.main__hasSidebar {
  visibility: visible;
}

.content {
  grid-area: article;
  scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  transition: $transition;
}

.sidebar__open::after {
  @include variables.opaque-overlay;
  content: ' ';
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 8;
}

.sidebar__hidden [class*='Sidebar-module--sidebar--'] {
  transform: translate3d(360px, 0, 0);
}

@include variables.breakpoint('xs') {
  .main {
    grid-template-columns: 100vw var(--mm-layout-sidebar-width);
    grid-template-rows: 100%;
  }

  .sidebar__hidden [class*='Sidebar-module--sidebar--'] {
    transform: translate3d(100vw, 0, 0);
  }
}

@include variables.breakpoint('lg') {
  .main__hasSidebar {
    /* autoprefixer: ignore next */
    grid-template-areas: 'sidebar article';
    grid-template-columns: var(--mm-layout-sidebar-width) calc(100vw - var(--mm-layout-sidebar-width));
  }

  .main [class^='Sidebar-module'] {
    display: none;
  }

  .main__hasSidebar [class^='Sidebar-module'] {
    display: block;
  }

  .content {
    grid-area: article;
  }

  .sidebar--open::after {
    display: none;
  }
}
