@use '../../styles/variables';

.sidebar {
  background: var(--mm-color-sidebar);
  border-left: 1px solid var(--mm-color-border);
  box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.1);
  grid-area: sidebar;
  height: 100%;
  max-width: var(--mm-layout-sidebar-width);
  position: fixed;
  right: 0;
  transition: all 0.15s ease-out;
  width: 100%;
  z-index: 9;
}

.nav {
  height: calc(100vh - var(--page-header-height));
  overflow-y: auto;
  position: sticky;
  top: var(--page-header-height);
}

.list {
  background: transparent;
}

.item {
  border-top: 1px solid var(--mm-color-border);
  color: #666;
  margin: 2px 0 3px;
  position: relative;
}

.item:first-of-type {
  border-top: 1px solid transparent;
}

.item__active {
  background: var(--mm-color-background);
  border-right: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.item__active + .item {
  border-top: 1px solid transparent;
}

.itemLink {
  color: #444;
  display: inline-block;
  font-family: var(--mm-font-stack-display);
  font-size: 16px;
  font-weight: 700;
  padding: calc(var(--mm-spacing) * 0.25) calc(var(--mm-spacing) * 0.25);
  text-decoration: none;
  transition: all 0.15s ease-out;
  width: 100%;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.itemIcon {
  border-radius: var(--mm-border-radius);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.35);
  height: 40px;
  width: 40px;

  &::before {
    border-radius: var(--mm-border-radius);
  }
}

.item:not(.item__active) .itemIcon {
  background: none;
  border: 0;
  box-shadow: none;

  &::before {
    background: none;
  }

  svg {
    fill: var(--mm-color-primary-text);
    filter: none;
  }
}

.item__active .itemLink {
  background: transparent;
  border: 0;
  border-left: 4px solid transparent;
  color: var(--mm-color-primary-text);
  font-weight: 500;

  &:hover {
    color: var(--mm-color-display-text);
  }
}

.item__active .list {
  display: block;
}

.externalLinkIcon {
  margin-left: 5px;
  transform: translateY(-1px);
}

.list__level0 > .item > .itemLink {
  border-left: 0;
  column-gap: calc(var(--mm-spacing) / 4);
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto;
}

.list__level0 > .item__active > .itemLink {
  color: var(--mm-color-display-text);
  font-weight: 700;
}

.list__level0 > .item > .itemLink > * {
  align-self: center;
}

.list__level1 {
  display: none;
}

.list__level1 .item {
  border-top: 0;
}

.list__level1 .item:last-of-type {
  margin-bottom: calc(var(--mm-spacing) / 2);
}

.list__level1 .item__hasDivider::before {
  border-top: 1px dashed var(--mm-color-border);
  content: ' ';
  display: block;
  height: 0;
  margin: calc(var(--mm-spacing) / 2) 0;
  width: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
.list__level1 .itemLink {
  color: var(--mm-color-primary-text);
  font-size: 14px;
  font-weight: 500;
  margin-left: 46px;
  max-width: calc(100% - 46px);
  padding: 5px 10px;

  &:hover {
    color: var(--mm-color-display-text);
  }
}

.list__level1 .item__active {
  border: 0;
  box-shadow: none;
  padding-bottom: 0;
}

.list__level1 .item__current > .itemLink {
  background: var(--mm-color-sidebar);
  border-left: 4px solid var(--mm-color-active-blue);
  color: var(--mm-color-display-text) !important;
}

.list__level1 [href*='#']:focus {
  position: relative;
}

.list__level1 [href*='#']:focus::before {
  background: var(--mm-color-active-blue);
  border-radius: 50%;
  content: ' ';
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
}

/* stylelint-disable-next-line no-descending-specificity */
.list__level2 .item {
  margin-left: calc(var(--mm-spacing) / 2);
}

.list__level2 .item:last-of-type {
  margin-bottom: 0;
}

@include variables.breakpoint('lg') {
  .sidebar {
    border-left: 0;
    grid-area: sidebar;
    position: relative;
    transform: initial !important;
    transition: none;

    &::after {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
      content: ' ';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
    }
  }

  .nav {
    height: 100%;
    margin: var(--mm-spacing) 0;
    max-height: calc(100vh - calc(var(--page-header-height) + 41px));
    top: calc(var(--page-header-height) + var(--mm-spacing));
  }

  .list__level0 > .item > .itemLink {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .list__level1 .itemLink {
    margin-left: 66px;
    max-width: calc(100% - 66px);
  }
}
