[commands.lint-scripts]
type = "lint"
cmd = [
  "pnpm",
  "run",
  "lint:scripts"
]
invoke = "once"
include = ["./assets/js/**/*", "./bin/**/*.{ts}"]
ok-exit-codes = 0

[commands.stylelint-styles]
type="both"
cmd = [
  "pnpm",
  "exec",
  "stylelint"
]
lint-flags = []
tidy-flags = ["--fix"]
path-args = "absolute-file"
include = ["assets/scss/**"]
ok-exit-codes = 0

[commands.prettier-scripts]
type = "both"
cmd = [
  "pnpm",
  "exec",
  "prettier",
  "--write"
]
lint-flags = ["--check"]
tidy-flags = ["--write"]
path-args = "absolute-file"
include = ["assets/js/**", "bin/**/*.{ts}"]
ok-exit-codes = 0

[commands.cspell-content]
type="lint"
include = ["*.md"]
cmd = [
  "pnpm",
  "run",
  "lint:cspell",
]
ok-exit-codes = 0

[commands.prettier-markdown]
type = "both"
include = [
    "assets/**/*.md",
    "content/**/*.md"
]
cmd = [
    "pnpm",
    "exec",
    "prettier",
    "--parser",
    "markdown",
    "--prose-wrap",
    "always",
]
lint-flags = "--check"
tidy-flags = "--write"
ok-exit-codes = 0
lint-failure-exit-codes = 1
ignore-stderr = ["Code style issues"]

[commands.format-content]
type = "tidy"
cmd = [
  "pnpm",
  "run",
  "format:rawhtml"
]
lint-flags = []
path-args = "absolute-file"
include = ["content/**/*.md"]
ok-exit-codes = 0

[commands.check-shortcode-parity]
type = "lint"
cmd = [
  "pnpm",
  "run",
  "lint:shortcode-parity"
]
invoke = "once"
include = ["layouts/shortcodes/**/*.{html,md}"]
ok-exit-codes = 0
