@use '../../styles/variables';

.systemStatus {
  background-color: #2e3a47;
  padding: 10px;

  &::after {
    background: rgba(25, 19, 6, 0.7);
  }
}

.systemStatus__content {
  align-items: center;
  color: #c0d2e4;
  display: grid;
  font-size: 14px;
  gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  position: relative;
  z-index: 1;
}

.systemStatus__content a {
  color: #fff;
}

.header {
  background: var(--mm-color-background);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 13px 0, rgba(0, 0, 0, 0.06) 0 1px 5px 0;
  height: var(--page-header-height);
  padding-top: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  @include variables.pattern-border;
}

.accessibilityNav {
  height: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 20;

  &:focus-within {
    height: 100%;
  }
}

.nav {
  display: grid;
  grid-template-areas: 'logo search menu';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
  height: calc(var(--page-header-height) - 10px);
  padding: 0 var(--mm-spacing);
}

/* IE11 content alignment fix */
.nav > * { align-self: center; }

.logo {
  display: grid;
  gap: 8px;
  grid-area: logo;
  grid-template-areas: 'svg site-name';
  grid-template-columns: auto;
  margin-right: calc(var(--mm-spacing) / -4);
  padding: calc(var(--mm-spacing) / 4);
  text-decoration: none;
  transform: translateX(calc(var(--mm-spacing) / -4));
}

.logo__svg {
  align-self: center;
  grid-area: svg;
  max-width: 125px;
  width: 100%;
}

.logo__siteName {
  align-self: center;
  color: var(--mm-color-primary-text);
  font-family: var(--mm-font-stack-display);
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  grid-area: site-name;
  letter-spacing: 1px;
  line-height: 1;
  overflow: hidden;
  padding-left: 9px;
  position: relative;
  text-transform: uppercase;

  &::before {
    background: #ccc;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: rotate(20deg) translateY(-50%);
    width: 1px;
  }
}

.eloper {
  display: none;
}

.search {
  grid-area: search;
  width: 100%;
}

@include variables.breakpoint('sm') {
  .logo {
    gap: 15px;
    grid-template-areas: 'svg site-name';
    grid-template-columns: auto;
  }

  .logo__siteName {
    padding-left: 18px;
  }

  .eloper {
    display: inline;
  }
}

@include variables.breakpoint('lg') {
  .nav {
    grid-template-columns: calc(var(--mm-layout-sidebar-width) - var(--mm-spacing)) 1fr;
    grid-template-rows: auto;
  }

  .logo__svg {
    max-width: initial;
  }

  .logo__siteName {
    font-size: 12px;
  }

  .search {
    padding-left: var(--mm-spacing);
  }
}

@include variables.breakpoint('xl') {
  .search {
    align-self: center;
    display: flex;
    justify-self: center;
    max-width: 880px;
    padding-left: var(--mm-spacing);
    width: calc(100% - var(--mm-layout-sidebar-width) - calc(var(--mm-spacing) * 2));
    width: 100%;
  }
}

@media only screen and (min-width: 1230px) {
  .search {
    max-width: 840px;
  }
}

@include variables.breakpoint('xxl') {
  .search {
    justify-self: start;
    width: calc(100% - var(--mm-layout-sidebar-width) + 60px);
  }
}

@media only screen and (min-width: 1480px) {
  .search {
    justify-self: center;
    max-width: 840px;
    transform: translateX(calc(var(--mm-layout-toc-width) * -0.5));
  }
}

.toggle {
  @include variables.menu-button;
  grid-area: menu;
  z-index: 4;
}

@include variables.breakpoint('lg') {
  .toggle {
    display: none;
  }
}
