@use '../../styles/variables';

.header {
  --mm-overview-heading-drop-shadow: 2px 4px 0 rgba(0, 0, 0, 0.25);
  @include variables.pattern;
  display: grid;
  padding: var(--mm-spacing);

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    background-attachment: fixed;
  }
}

.lockup {
  column-gap: 20px;
  display: grid;
  grid-template-areas:
    'logo'
    'heading'
    'subheading';
  grid-template-columns: auto auto;
  justify-self: center;
  row-gap: 10px;
}

.lockup > * {
  align-self: center;
  justify-self: center;
}

.icon {
  grid-area: logo;
  margin-bottom: 25px;
}

.heading {
  color: #fff;
  font-family: var(--mm-font-stack-display);
  font-size: 30px;
  font-weight: 700;
  grid-area: heading;
  line-height: 1em;
  text-align: center;
  text-shadow: var(--mm-overview-heading-drop-shadow);
}

.subheading {
  color: #fff;
  font-family: var(--mm-font-stack-display);
  font-size: 18px;
  font-weight: 700;
  grid-area: subheading;
  line-height: 1em;
  text-align: center;
  text-shadow: var(--mm-overview-heading-drop-shadow);
}

.content {
  padding: var(--mm-spacing);
}

.content > *:first-child {
  margin-top: 0;
}

@include variables.breakpoint('sm') {
  .lockup {
    grid-template-areas:
      'logo heading'
      'logo subheading';
  }

  .lockup > * {
    justify-self: left;
  }

  .icon {
    margin-bottom: 0;
  }

  .heading {
    align-self: end;
    text-align: left;
  }

  .subheading {
    align-self: start;
    text-align: left;
  }
}

@include variables.breakpoint('xl') {
  .heading {
    font-size: 40px;
  }

  .subheading {
    font-size: 25px;
  }

  .content {
    display: grid;
  }

  .content > * {
    justify-self: center;
  }

  .content [class^='LinkGroupContainer-module'] {
    max-width: calc(680px + 300px);
  }

  .content > *:not([class^='LinkGroupContainer-module']) {
    @include variables.max-width;
  }
}
