@import '../../styles/variables';

.header {
  border-bottom: 1px solid $mm-border;
  margin-bottom: $mm-spacing;
  padding-bottom: $mm-spacing;
}

.aside {
  border-bottom: 1px solid $mm-border;
  margin-bottom: $mm-spacing;
  padding: 0 0 $mm-spacing $mm-spacing / 2;
}

@include breakpoint('xl') {
  .article {
    display: grid;
    grid-template-areas:
      'header header'
      'aside aside'
      'content content';
    grid-template-columns: 50% 50%;
  }

  .header {
    grid-area: header;
  }

  .aside {
    grid-area: aside;
  }

  .content {
    grid-area: content;
  }
}

@include breakpoint('lg') {
  // TODO - This selector. Ugh.
  .content [class*='Pre-module--container'] {
    max-width: 100%;
    min-width: 720px;
    width: auto;
  }
}

@include breakpoint('xxl') {
  .article {
    grid-template-areas:
      'header aside'
      'content aside';
    grid-template-columns: calc(100vw - 640px) 300px; /* stylelint-disable-line plugin/no-unsupported-browser-features */
    justify-items: start;
  }

  .header {
    grid-area: header;
    width: 100%;
  }

  .aside {
    grid-area: aside;
    padding: 0 0 0 $mm-spacing;
  }

  .tableOfContents {
    position: fixed;
    width: 300px - $mm-spacing;
  }

  .content {
    grid-area: content;
    max-width: calc(100vw - 640px);
  }
}

@include breakpoint('xxxl') {
  $content-width: 760px;

  .heading {
    margin: 0 auto;
    max-width: $content-width;
    padding-top: 0;
  }

  .content {
    margin: 0 auto;
  }
}
