@import '../styles/variables';

$radius: 6px;

.wrapper {
  margin: $mm-spacing 0;
  width: 100%;
}

.nav {
  background: lighten(#393d46, 10);
  border-radius: $radius $radius 0 0;
  position: relative;
  z-index: 2;
}

// TODO - target class names instead of elements
.nav + div pre {
  border-radius: 0 0 6px 6px;
}

.button {
  background: none;
  border: 0;
  color: #ccc;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 1px;
  padding: $mm-spacing / 4;
  // text-transform: uppercase;
}

.button:first-of-type {
  border-radius: $radius 0 0 0;
}

.button.active {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
