@import '../styles/variables';

.nav {
  background-color: #3c3b62;
  border-radius: var(--mm-border-radius) var(--mm-border-radius) 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 2;
}

// TODO - target class names instead of elements
.nav + div {
  border-radius: 0 0 var(--mm-border-radius) var(--mm-border-radius);
}

.button {
  background: none;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #ccc;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 1px;
  padding: calc(var(--mm-spacing) / 4);
}

.button:hover {
  background: rgba(255, 255, 255, 0.07);
  color: #ddd;
}

.button:first-of-type {
  border-radius: var(--mm-border-radius) 0 0 0;
}

.button.active {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
