@import '../../styles/variables';
@import '../../styles/global';

$sidebar-width: 260px;
$transition: all 0.15s ease-out;

.header {
  background: $mm-background;
  border-bottom: 1px solid $mm-border;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &::before {
    content: ' ';
    display: block;
    height: 10px;
    left: 0;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;

    @include pattern;
  }

  &::after {
    background: rgb(0, 119, 194);
    background: linear-gradient(90deg, rgba(0, 119, 194, 0.5) 0%, rgba(255, 0, 136, 0.5));
    content: ' ';
    // background: linear-gradient(90deg, rgba(0, 119, 194, 0.5) 0%, rgba(0, 255, 102, 0.5) 100%);
    display: block;
    height: 10px;
    left: 0;
    overflow: hidden;
    padding: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.toggle {
  background: $mm-background;
  border: 1px solid $mm-border;
  border-radius: 0;
  color: #333;
  height: 40px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 50px;
  z-index: 4;
}

.main {
  background: $mm-background;
  display: grid;
  grid-template-areas: 'sidebar article';
  grid-template-columns: $sidebar-width calc(100vw - #{$sidebar-width});
  margin: 50px auto 0;
  transition: $transition;
}

.sidebar {
  background: #f5f6f7;
  border-right: 1px solid $mm-border;
  grid-area: sidebar;
  padding: $mm-spacing;
  position: relative;
  transition: $transition;
  z-index: 9;
}

.sidebarNav {
  position: fixed;
}

.sidebar--hidden .sidebar {
  transform: translate3d(-100%, 0, 0);
}

.content {
  grid-area: article-start / sidebar-start / article-end / article-end;
  transition: $transition;
}

.footer {
  // border-top: 1px solid $mm-border;
  font-size: 14px;
  padding: $mm-spacing 0;
  text-align: center;

  @include pattern;

  &::before {
    background: darken($mm-color-primary, 15);
    opacity: 0.9;
  }
}

@include breakpoint('lg') {
  $sidebar-width: 350px;

  .main {
    grid-template-columns: $sidebar-width calc(100vw - #{$sidebar-width});
  }

  .toggle {
    display: none;
  }

  .sidebar {
    grid-area: sidebar;
    position: static;
    transform: initial !important;
    transition: none;
  }

  .content {
    grid-area: article;
  }
}
