@import '../../styles/variables';
@import '../../styles/global';

$sidebar-width: 260px;
$transition: all 0.15s ease-out;

.header {
  background: $mm-background;
  border-bottom: 1px solid $mm-border;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.toggle {
  background: $mm-background;
  border: 1px solid $mm-border;
  border-radius: 0;
  color: #333;
  height: 50px;
  left: 0;
  top: 0;
  width: 50px;
  z-index: 4;
}

.main {
  background: $mm-background;
  display: grid;
  grid-template-areas: 'sidebar article';
  grid-template-columns: $sidebar-width calc(100vw - #{$sidebar-width});
  margin: 50px auto 0;
  transition: $transition;
}

.sidebar {
  background: rgba(60, 88, 99, 0.05);
  border-right: 1px solid $mm-border;
  grid-area: sidebar;
  padding: $mm-spacing;
  position: relative;
  transition: $transition;
  z-index: 3;
}

.sidebarNav {
  position: fixed;
}

.sidebar--hidden .sidebar {
  transform: translate3d(-100%, 0, 0);
}

.content {
  grid-area: article-start / sidebar-start / article-end / article-end;
  transition: $transition;
}

.footer {
  border-top: 1px solid $mm-border;
  font-size: 14px;
  padding: $mm-spacing 0;
  text-align: center;
}

@include breakpoint('lg') {
  .toggle {
    display: none;
  }

  .sidebar {
    grid-area: sidebar;
    position: static;
    transform: initial !important;
    transition: none;
  }

  .content {
    grid-area: article;
  }
}
