@import '../styles/variables';

.list {
  margin: 10px 0 10px 20px;
}

.list-item {
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.list-item .list-item {
  font-size: 0.8em;
}

.item--active > a {
  color: #333;
  font-weight: bold;
}

.list-item a {
  color: #999;
  display: inline-block;
  text-decoration: none;
  width: calc(100% - #{$mm-spacing});
}

.list-item a:hover {
  color: #333;
}
