@use '../../styles/variables';

.ol {
  list-style-type: decimal;
  margin: calc(var(--mm-spacing) / 2) var(--mm-spacing);
  padding-left: calc(var(--mm-spacing) / 2);
}

.ol .ol {
  margin: calc(var(--mm-spacing) / 4) 0;
}
