@use 'mixins';
@use 'variables';

.blog-post__container-featured {
  display: grid;
  gap: var(--mm-spacing);
  grid-gap: var(--mm-spacing);
  grid-template-areas:
    'graphic'
    'content';
  padding: calc(var(--mm-spacing) / 2);
}

.blog-post__featured-image {
  align-content: center;
  border-radius: var(--mm-border-radius);
  display: grid;
  grid-area: graphic;
  height: 100%;
  justify-items: center;
  overflow: hidden;
  width: 100%;

  img {
    margin: 0;
    width: 100%;
  }
}

.blog-posts__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.blog-posts {
  display: grid;
  gap: var(--mm-spacing);
  justify-content: center;
  max-width: var(--mm-max-width);
  padding: calc(var(--mm-spacing) / 2);
  width: 100%;

  .blog-post__heading {
    margin: 0;
    padding: 0;
  }
}

.blog-post__container {
  display: grid;
  margin: auto;
  max-width: 650px;
  padding: calc(var(--mm-spacing) / 2);
}

.blog-post__date::before {
  content: ' • ';
}

.blog-post__excerpt {
  grid-area: excerpt;
}

.blog-post__readmore {
  grid-area: readmore;

  a {
    font-size: 14px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.blog-post__categories {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 500;
  grid-area: category;
  margin-bottom: 10px;
}

.blog-post__category ~ .blog-post__category::before {
  content: ' • ';
}

.blog-post__category:not(:last-child) {
  padding-right: 4px;
}

.blog-post__heading {
  margin-top: 0;
  padding: 0 0 var(--mm-spacing);
}

.blog-post__title {
  border: 0;
  font-family: var(--mm-font-stack-display);
  font-size: 20px;
  font-weight: 700;
  grid-area: title;
  height: auto;
  line-height: 1.5em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.blog-post__published {
  color: var(--mm-color-primary-text);
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 600;
  gap: 4px;
  grid-area: published;
  grid-template-columns: max-content;
  line-height: 1.5em;
  margin-top: 10px;
}

.blog-post__authors {
  display: flex;
  flex-wrap: wrap;

  .blog-post__author ~ .blog-post__author::before {
    content: ', ';
  }
}

.blog-post__content {
  a {
    align-items: center;
    border-bottom: 2px dotted var(--mm-color-display-text);
    color: var(--mm-color-display-text);
    font-weight: 500;
    height: 20px;
    padding-bottom: 2px;
    text-decoration: none;
  }

  a:hover {
    border-bottom-style: solid;
  }
}

.blog-post__category {
  border-bottom: 0;
  color: var(--mm-color-primary-text);
  font-weight: 600;

  &:hover {
    border-bottom: 0 !important;
    color: var(--mm-color-display-text);
    text-decoration: none;
  }
}

.blog-post__tags {
  a {
    background-color: var(--mm-color-sidebar);
    border-radius: var(--mm-border-radius);
    color: var(--mm-color-display-text);
    font-size: 12px;
    margin: 20px 5px 5px 0;
    padding: 3px 5px;
    text-decoration: none;
    transition: all 0.2s;
    white-space: nowrap;
    width: max-content;

    &:hover {
      background-color: var(--mm-color-display-text);
      color: var(--mm-color-sidebar);
      text-decoration: none;
    }
  }
}

@include variables.breakpoint('md') {
  .blog-post__container-featured {
    grid-template-areas: 'content graphic';
    grid-template-columns: 1fr 40%;
    padding: var(--mm-spacing);
  }

  .blog-posts {
    padding: var(--mm-spacing);
  }
}
