.schema td {
  vertical-align: top;
}

.schema__key-cell {
  padding-top: 25px;
}

.schema__type-cell {
  padding-top: 29px;
}

.schema__row-key {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 2px;
}
