.tag {
  background: #effbff;
  border: 1px solid #d5e3f0;
  border-radius: var(--mm-border-radius);
  color: #1e588b;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 10px;
}

td > .tag {
  margin-top: 0;
}


.tag--checked {
  background: #e9f8f0;
  border: 1px solid #c7e4d5;
  color: #1c5e3b;
}

.tag--checked::before {
  content: '✓';
  margin-right: 4px;
}

.tag--disabled {
  background: #eee;
  border: 1px solid #ddd;
  color: #4f4f4f;
}

.tag--disabled::before {
  content: '✗';
  margin-right: 4px;
}
