@use 'base';
@use 'header';
@use 'footer';
@use 'mixins';
@use 'pre';
@use 'loading';
@use 'search';
@use 'sidebar';
@use 'table';
@use 'variables';
@use 'btn';

@use 'home';
@use 'page';
@use 'product-featured';
@use 'fourohfour';
@use 'codeset';
@use 'mm-ips';
@use 'alert';
@use 'link-group';
@use 'tag';
@use 'schema';
@use 'release-note';
@use 'recaptcha';

*:focus {
  outline-color: var(--mm-color-logo-blue-light);
  outline-style: solid;
  outline-width: 2px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.home__sidebar {
  display: none;

  @media only screen and (min-width: 992px) {
    display: none !important;
  }
}

// Account for the fixed header
:target {
  scroll-margin-top: 100px;
}


.heading-anchor {
  &::before {
    color: var(--mm-color-logo-blue-light);
    content: '#';
    font-size: 17px;
    left: -15px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    text-decoration: none;

    &::before {
      opacity: 1;
    }
  }
}
