@import 'base';
@import 'header';
@import 'footer';
@import 'mixins';
@import 'page';
@import 'pre';
@import 'loading';
@import 'search';
@import 'search-results';
@import 'sidebar';
@import 'table';
@import 'variables';
@import 'btn';

@import 'home';
@import 'page';
@import 'product-featured';
@import 'fourohfour';
@import 'codeset';
@import 'mm-ips';
@import 'alert';
@import 'link-group';
@import 'tag';
@import 'schema';
@import 'release-note';

*:focus {
  outline-color: var(--mm-color-logo-blue-light);
  outline-style: solid;
  outline-width: 2px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

// Account for the fixed header
:target {
  scroll-margin-top: 100px;
}
