@import 'base';
@import 'header';
@import 'footer';
@import 'mixins';
@import 'page';
@import 'pre';
@import 'loading';
@import 'search';
@import 'sidebar';
@import 'table';
@import 'variables';
@import 'btn';

@import 'home';
@import 'page';
@import 'product-featured';
@import 'fourohfour';
@import 'codeset';
@import 'mm-ips';
@import 'alert';
@import 'link-group';
@import 'tag';
@import 'schema';
@import 'release-note';
@import 'recaptcha';

*:focus {
  outline-color: var(--mm-color-logo-blue-light);
  outline-style: solid;
  outline-width: 2px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.home__sidebar {
  display: none;

  @media only screen and (min-width: 992px) {
    display: none !important;
  }
}

// Account for the fixed header
:target {
  scroll-margin-top: 100px;
}


a.heading-anchor {
  &:hover {
    text-decoration: none;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: '#';
    color: var(--mm-color-logo-blue-light);
    font-size: 17px;
    left: -15px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s ease-in-out;
  }
}
