@use '../../styles/variables';

.wrapper {
  border-left: 0;
  border-right: 0;
  padding: var(--mm-spacing);
  position: relative;
}

.blockquote {
  position: relative;
  z-index: 3;

  p {
    font-family: var(--mm-font-stack-display);
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
  }

  > p:first-of-type {
    margin-top: 0;
  }

  > p:last-of-type {
    margin-bottom: 0;
  }

  .blockquote:last-of-type {
    margin-bottom: 0;
  }
}
