@use '../../styles/variables';

.h1 {
  @include variables.heading;
  font-size: 28px;
  font-weight: 600;
  margin: var(--mm-spacing);
  margin-top: 0;
  padding-top: var(--mm-spacing);
}

@include variables.breakpoint('md') {
  .h1 {
    font-size: 42px;
  }
}
