@use '../../styles/variables';

.footer {
  background: rgb(46, 58, 71);
  color: #fff;
  font-size: 14px;
  position: relative;

  @include variables.pattern;

  &::after {
    background: rgba(25, 19, 6, 0.7);
  }
}

.container {
  column-gap: 0;
  display: grid;
  grid-template-areas:
    'a b'
    'c d'
    'branding branding'
    'copyright copyright';
  grid-template-columns: 50% 50%;
  position: relative;
  row-gap: 0;
  z-index: 2;
}

.group {
  padding: var(--mm-spacing);
  padding-bottom: 0;
}

.group__products {
  grid-area: a;
}

.group__support {
  grid-area: b;
}

.group__developers {
  grid-area: c;
}

.group__company {
  grid-area: d;
}

.heading {
  color: #c0d2e4;
  font-family: var(--mm-font-stack-display);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: calc(var(--mm-spacing) / 2);
}

.link {
  color: #fff;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.status {
  position: relative;

  &:hover {
    text-decoration: none;
  }
}

.statusIcon {
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}

.status:hover .statusText {
  text-decoration: underline;
}

.branding {
  /* autoprefixer: ignore next */
  align-items: flex-end;
  display: flex;
  flex: 1 0 0;
  grid-area: branding;
  justify-content: space-between;
  padding: var(--mm-spacing) var(--mm-spacing) 0;
}

.logo {
  display: inline-block;
  height: 67px;
  margin-right: 10px;
  width: 160px;
}

.social {
  margin-bottom: 4px;
}

.socialIcon {
  color: #fff;
  display: inline-block;
  font-size: 30px;
  margin-left: calc(var(--mm-spacing) / 4);
}

.copyright {
  font-size: 12px;
  grid-area: copyright;
  padding: var(--mm-spacing) var(--mm-spacing) calc(var(--mm-spacing) * 2.5);
  text-align: center;
}

.terms {
  margin-top: calc(var(--mm-spacing) / 2);
  text-align: center;
}

.termsLink {
  color: #fff;
  text-decoration: none;

  &:first-child::after {
    color: rgba(255, 255, 255, 0.2);
    content: '|';
    padding: 0 10px;
  }
}

@include variables.breakpoint('md') {
  .container {
    grid-template-areas:
      'a b c d'
      'branding branding copyright copyright';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
  }

  .branding {
    grid-column: span 2;
    justify-content: left;
    order: 1;
    padding-bottom: var(--mm-spacing);
  }

  .logo {
    height: 85px;
    width: 200px;
  }

  .copyright {
    grid-column: 3 / span 2;
    text-align: right;
  }

  .terms {
    text-align: right;
  }
}

@include variables.breakpoint('xl') {
  .container {
    grid-template-areas:
      'branding a b c d'
      'branding copyright copyright copyright copyright';
    grid-template-columns: var(--mm-layout-sidebar-width) 1fr 1fr 1fr 1fr;
  }

  .branding {
    /* autoprefixer: ignore next */
    align-content: flex-start;
    border-top: 0;
    display: grid;
    grid-area: branding;
    grid-template-areas:
      'logo'
      'social';
    /* autoprefixer: ignore next */
    justify-content: center;
    order: 0;
  }

  .logo {
    display: block;
    grid-area: logo;
    margin: 0 0 calc(var(--mm-spacing) / 4);
    width: 200px;
  }

  .social {
    display: flex;
    grid-area: social;
    justify-content: center;
  }

  .socialIcon:first-of-type {
    margin-left: 0;
  }

  .copyright {
    /* autoprefixer: ignore next */
    align-items: top;
    display: grid;
    /* autoprefixer: ignore next */
    grid-area: copyright;
    grid-column-gap: var(--mm-spacing);
    grid-template-areas: 'p terms';
    grid-template-columns: 3fr 1fr;
    text-align: left;
  }

  .copyright p {
    grid-area: p;
  }

  .terms {
    grid-area: terms;
    margin-top: 0;
    text-align: right;
  }
}

@include variables.breakpoint('xxxl') {
  .container {
    max-width: map-get(variables.$breakpoints, 'xxxl');
  }
}
