@use '../../styles/variables';

.header {
  background: var(--mm-color-background);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 13px 0, rgba(0, 0, 0, 0.06) 0 1px 5px 0;
  height: var(--page-header-height);
  padding-top: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  @include variables.pattern-border;
}

.accessibility-nav {
  height: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 20;

  &:focus-within {
    height: 100%;
  }
}

.nav {
  align-items: center;
  display: flex;
  height: calc(var(--page-header-height) - 10px);
  padding: 0 var(--mm-spacing);
}

.logo {
  border-left: 0;
  border-right: 0;
  line-height: 1px;
  min-width: 200px;
  padding: calc(var(--mm-spacing) / 4);
  transform: translateX(calc(var(--mm-spacing) / -4));
  width: 200px;
}

.search {
  width: 100%;
}

@include variables.breakpoint('lg') {
  .search {
    left: calc(50% + calc(var(--mm-layout-sidebar-width) / 2));
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - var(--mm-layout-sidebar-width) - calc(var(--mm-spacing) * 2));
    @include variables.max-width;
  }
}

@include variables.breakpoint('xxl') {
  .search {
    left: calc(50% + calc(var(--mm-layout-sidebar-width) - var(--mm-layout-toc-width)) / 2);
  }
}

.toggle {
  @include variables.menu-button;
  z-index: 4;
}

@include variables.breakpoint('lg') {
  .toggle {
    display: none;
  }
}
