@import '../../styles/variables';
@import '../../styles/global';

$transition: all 0.15s ease-out;

.main {
  background: var(--mm-color-background);
  display: grid;
  grid-template-areas: 'sidebar article';
  grid-template-columns: var(--mm-layout-sidebar-width) calc(100vw - var(--mm-layout-sidebar-width));
  transition: $transition;
}

.content {
  grid-area: article-start / sidebar-start / article-end / article-end;
  transition: $transition;
}

.sidebar--hidden [class*='Sidebar-module--sidebar--'] {
  transform: translate3d(-100%, 0, 0);
}

@include breakpoint('lg') {
  :root {
    --mm-layout-sidebar-width: 350px;
  }

  .main {
    grid-template-columns: var(--mm-layout-sidebar-width) calc(100vw - var(--mm-layout-sidebar-width));
  }

  .content {
    grid-area: article;
  }
}
