@use '../../styles/variables';

.searchbar {
  display: none;
  position: relative;
}

@include variables.breakpoint('lg') {
  .searchbar {
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (max-width: map-get(variables.$breakpoints, 'lg')) {
  .searchbar__mobileOpen {
    display: inline-block;
    left: 0;
    margin: 0 var(--mm-spacing);
    position: absolute;
    top: calc(50% + 5px);
    transform: translateY(-50%);
    width: calc(100% - (2 * var(--mm-spacing)));
    z-index: 100;
  }
}

.mag {
  color: var(--mm-color-primary-text);
  left: calc(var(--mm-spacing) / 2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.searchMobile {
  position: relative;
}

@include variables.breakpoint('lg') {
  .searchMobile {
    display: none;
  }
}

.mobileButton {
  @include variables.menu-button;
  float: right;
  margin-right: calc(var(--mm-spacing) / 4);
}

.input {
  appearance: none !important;
  border: 1px solid var(--mm-color-border);
  border-radius: var(--mm-border-radius);
  color: var(--mm-color-primary-text);
  padding: 12px 10px 12px calc(var(--mm-spacing) + 15px);
  width: 100%;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--mm-color-logo-blue-light);
    outline: none;
  }
}

.hidden {
  display: none;
}
