@use '../../styles/variables';

.sidebar {
  background: var(--mm-color-sidebar);
  border-left: 1px solid var(--mm-color-border);
  box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.1);
  grid-area: sidebar;
  max-width: var(--mm-layout-sidebar-width);
  position: fixed;
  right: 0;
  transition: all 0.15s ease-out;
  width: 100%;
  z-index: 9;
}

.nav {
  height: calc(100vh - var(--page-header-height));
  overflow-y: scroll;
  position: sticky;
  top: var(--page-header-height);
}

.list {
  background: transparent;
}

.list .list {
  display: none;
}

.item {
  border-top: 1px solid var(--mm-color-border);
  color: #666;
  margin: 2px 0 3px;
  position: relative;
}

.item .item {
  border-top: 0;
}

.item-link {
  color: #444;
  display: inline-block;
  font-family: var(--mm-font-stack-display);
  font-size: 16px;
  font-weight: 700;
  padding: calc(var(--mm-spacing) * 0.5);
  text-decoration: none;
  transition: all 0.15s ease-out;
  width: 100%;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  :global(.fa-icon) {
    margin-right: calc(var(--mm-spacing) / 2);
    transform: translateY(-2px);
  }
}

.item--active .item-link {
  color: var(--mm-color-display-text);
  font-weight: 700;
}

.item-attribute .item-link {
  font-family: var(--mm-font-stack-monospace);
}

.item .item .item-link {
  font-size: 14px;
  margin-left: var(--mm-spacing);
  max-width: calc(100% - var(--mm-spacing));
  padding: 5px calc(var(--mm-spacing) * 0.4);
}

.item .item-divider::before {
  border-top: 1px solid var(--mm-color-border);
  content: ' ';
  display: block;
  height: 0;
  margin: calc(var(--mm-spacing) / 2) 0;
  width: 100%;
}

.item--active {
  background: var(--mm-color-background);
  border-right: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.item--active .item--active {
  border: 0;
  box-shadow: none;
  padding-bottom: 0;
}

.item--active .item--active .item-link {
  background: var(--mm-color-sidebar);
  border-left: 4px solid var(--mm-color-display-text);
  color: var(--mm-color-display-text) !important;
  font-weight: 700 !important;
}

.item--active .list .item-link {
  color: var(--mm-color-primary-text);
  font-weight: 500;

  &:focus {
    font-weight: 700;
  }

  &:hover {
    color: var(--mm-color-display-text);
  }
}

.list .item--active .list {
  display: block;
}

.item:first-of-type {
  border-top: 1px solid transparent;
}

.item--active + .item {
  border-top: 1px solid transparent;
}

.item .item:last-of-type {
  margin-bottom: calc(var(--mm-spacing) / 2);
}

.item .item .item {
  margin-left: calc(var(--mm-spacing) / 2);
}

.item .item--active .item .item-link {
  background: transparent;
  border: 0;
  color: #767676 !important;
  font-weight: 500 !important;

  &:hover {
    color: var(--mm-color-display-text);
  }
}

.item .item .item:last-of-type {
  margin-bottom: 0;
}

@include variables.breakpoint('lg') {
  .sidebar {
    border-left: 0;
    grid-area: sidebar;
    position: relative;
    transform: initial !important;
    transition: none;

    &::after {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
      content: ' ';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
    }
  }

  .nav {
    height: 100%;
    margin: var(--mm-spacing) 0;
    max-height: calc(100vh - calc(var(--page-header-height) + 41px));
    top: calc(var(--page-header-height) + var(--mm-spacing));
  }

  .list {
    margin-right: var(--mm-spacing);
  }

  .list .list {
    margin-left: 0;
  }

  .item .item {
    margin-left: 0;
  }

  .item .item .item {
    margin-left: calc(var(--mm-spacing) / 2);
  }

  .item .item .item-link {
    padding-left: calc(var(--mm-spacing) * 0.4);
  }

  .item .item-divider::before {
    margin-left: var(--mm-spacing);
    width: calc(100% - calc(var(--mm-spacing) * 2));
  }

  .item .itemDivider::before {
    margin-left: var(--mm-spacing);
    width: calc(100% - calc(var(--mm-spacing) * 2));
  }

  .item--active {
    border-radius: 0 var(--mm-border-radius) var(--mm-border-radius) 0;
  }

  .item--active .item--active .item-link {
    border-left: 0;
    border-radius: 0 var(--mm-border-radius) var(--mm-border-radius) 0;
    border-right: 4px solid var(--mm-color-display-text);
  }
}
