@import '../../styles/variables';

.blockquote {
  background: rgba(0, 0, 0, 0.05);
  border-left: 5px solid $mm-border;
  font-family: 'Source Code Pro', serif;
  font-size: 14px;
  margin-bottom: $mm-spacing;
  padding: $mm-spacing/2 $mm-spacing/2;

  > p:last-of-type {
    margin-bottom: 0;
  }

  .blockquote:last-of-type {
    margin-bottom: 0;
  }
}
