@import '../../styles/variables';

.wrapper {
  @include pattern;
}

.blockquote .wrapper {
  // background: transparent;
  padding: 0;
}

.blockquote {
  position: relative;
  z-index: 3;

  p {
    color: #fff !important;
    font-family: 'Source Code Pro', serif !important;
    font-size: 23px !important;
    font-style: italic !important;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 2px 2px $mm-color-primary;
  }

  > p:first-of-type {
    margin-top: 0;
  }

  > p:last-of-type {
    margin-bottom: 0;
  }

  .blockquote:last-of-type {
    margin-bottom: 0;
  }
}
