@import '../styles/variables';

.wrapper {

  --thumbBG: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin: 40px auto;
  overflow-x: auto;
  scrollbar-color: var(--thumbBG) rgba(0, 0, 0, 0.15);

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
  }
}

.table {
  border-collapse: collapse;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 40px auto;
  overflow-x: auto;
}
