.th {
  border-bottom: 1px solid var(--mm-color-border);
  color: var(--mm-color-display-text);
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 700;
  padding: 16px;
  position: sticky;
  text-align: left;
  white-space: nowrap;
}
