<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M8K593P"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
      {{- partial "header.html" . -}}
      <main id="main-content">{{- block "main" . }}{{- end }}</main>
      {{- partial "footer.html" . -}}
    </div>
    <!-- HubSpot chat -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js.hs-scripts.com/21266834.js"
    ></script>
    <script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>

    <!-- Search widget element is not visible by default -->
    <gen-search-widget
      configId="3c7b0bea-0cb1-4fdf-894a-1992d4c916cc"
      triggerId="searchWidgetTrigger">
    </gen-search-widget>
  </body>
  {{ $codeset := resources.Get "js/codeset.ts" | js.Build }}
  {{ $geoipCrontab := resources.Get "js/geoip-crontab.ts" | js.Build }}
  {{ $sidebar := resources.Get "js/sidebar.ts" | js.Build }}
  {{ $systemStatus := resources.Get "js/system-status.ts" | js.Build }}
  {{ $js := slice $codeset $geoipCrontab $sidebar $systemStatus | resources.Concat "js/bundle.js" }}
  <script type="module" src="{{ $js.RelPermalink }}"></script>
</html>
