@use '../../styles/variables';

.container {
  margin: var(--mm-spacing) 0 calc(var(--mm-spacing) + 1px);
  position: relative;
  scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  width: 100%;

  [class^='Pre-module--toolbar'] {
    top: calc(var(--page-header-height) + 102px);
  }
}

.heading {
  background: linear-gradient(#fff, var(--mm-color-sidebar));
  border: 1px solid var(--mm-color-border);
  border-radius: var(--mm-border-radius) var(--mm-border-radius) 0 0;
  box-shadow: 0 -4px 0 0 var(--mm-color-background);
  display: grid;
  gap: calc(var(--mm-spacing) / 4);
  grid-template-areas: 'name type';
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  padding: calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2);
  position: sticky;
  top: calc(var(--page-header-height) + var(--mm-spacing));
  transform-style: preserve-3d;
  z-index: 5;

  &::before {
    background: var(--mm-color-background);
    content: ' ';
    display: block;
    height: calc(var(--mm-spacing) + 1px);
    left: -1px;
    position: absolute;
    top: -1px;
    transform: translateY(-100%);
    width: calc(100% + 2px);
  }
}

/* For IE11 support, align items via the children, not the `.heading` parent */
.heading > * {
  align-self: center;
}

.heading
.heading__name {
  font-weight: 700;
  grid-area: name;
}

.heading__link {
  color: var(--mm-color-primary-text);
  display: inline-block;
  font-size: 12px;
  position: relative;
  text-decoration: none;
}

.heading__linkIcon {
  font-size: 14px;
  left: 0;
  opacity: 0.5;
  padding-right: 5px;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
}

.heading__link:hover .heading__linkIcon {
  opacity: 1;
}

.heading__type {
  grid-area: type;
}

.content {
  border: 1px solid var(--mm-color-border);
  border-radius: 0 0 var(--mm-border-radius) var(--mm-border-radius);
  border-top: 1px solid transparent;

  > :not([class^='Property-module']) {
    margin: calc(var(--mm-spacing) / 2) 0;
    padding: 0 calc(var(--mm-spacing) / 2);
  }

  > :not([class^='Property-module']),
  [class^='Li-module'],
  [class^='Code-module'] {
    font-size: 14px;
    line-height: 26px;
  }

  [class^='Ol-module'],
  [class^='Ul-module'] {
    padding-left: var(--mm-spacing);
  }

  > [class^='Footnote-module'] {
    margin: 0;
    padding: calc(var(--mm-spacing) / 2) calc(var(--mm-spacing) / 2);
  }

  > [class^='Alert-module'] {
    margin-left: var(--mm-spacing);
    margin-right: var(--mm-spacing);
  }

  [class^='Example-module--value'] {
    max-width: calc(100vw - calc(var(--mm-spacing) * 3 + 6px));
  }
}

@include variables.breakpoint('md') {
  .heading {
    grid-template-areas: 'name type';
    grid-template-columns: max-content 1fr;
  }

  .heading__link {
    font-size: 14px;
  }

  .content [class^='Example-module--value'] {
    max-width: calc(680px - var(--mm-spacing) - 14px);
  }
}

@include variables.breakpoint('xxl') {
  .heading__link {
    font-size: 16px;
  }

  .content [class^='Example-module--value'] {
    max-width: calc(680px - var(--mm-spacing) - 6px);
  }
}
