$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1660px
);

@mixin breakpoint($size) {
  $width: map-get($breakpoints, $size);

  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin max-breakpoint($size) {
  $width: map-get($breakpoints, $size);

  @media only screen and (max-width: $width) {
    @content;
  }
}

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1600px
);

@mixin container($size) {
  $width: map-get($containers, $size);
  max-width: $width;
  padding: 0;
}

@mixin max-width {
  @include breakpoint('xl') {
    max-width: 880px;
    width: 100%;
  }
}

@mixin heading {
  color: #00374c;
  font-family: var(--mm-font-stack-display);
  font-weight: 500;
  line-height: 1.2em;
  margin: calc(var(--mm-spacing) * 2) 0 calc(var(--mm-spacing) / 4);
  position: relative;
  scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));

  + [id^='toc-'] {
    h3,
    h4,
    h5,
    h6 {
      margin-top: calc(var(--mm-spacing) / 4);
    }
  }

  + [class^='Table-module'] {
    margin-top: calc(var(--mm-spacing) / 4);
  }

  .link {
    color: #00374c;
    text-decoration: none;
  }

  .icon {
    font-size: 12px;
    left: -5px;
    margin-bottom: 0 !important;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: all 0.15s ease-out;
  }

  .link:hover .icon {
    font-size: 14px;
    opacity: 0.75;
  }
}

@mixin scrollbars($scroll-color: rgba(255, 255, 255, 0.2)) {
  scrollbar-color: $scroll-color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: var(--mm-border-radius);
    width: var(--mm-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scroll-color;
    border-radius: var(--mm-border-radius);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

$pattern-scale: 1;

@mixin pattern-base {
  background-color: #00a7e5;
  background-image: url('/static/svg/bg-pattern.svg');
  background-position: center center;
  background-size: (80px * $pattern-scale) (140px * $pattern-scale);
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  will-change: transform; /* stylelint-disable-line */
}

@mixin pattern-gradient {
  background: rgb(0, 119, 194);
  background: linear-gradient(90deg, rgba(0, 119, 194, 0.5) 0%, var(--page-type-color));
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin pattern {
  position: relative;

  &::before {
    @include pattern-base;
  }

  &::after {
    @include pattern-gradient;
  }
}

@mixin pattern-border {
  &::before,
  &::after {
    display: block;
    height: 10px !important;
    overflow: hidden;
  }

  &::before {
    @include pattern-base;
  }

  &::after {
    @include pattern-gradient;
  }
}

@mixin menu-button {
  background: var(--mm-color-background);
  border: 1px solid var(--mm-color-border);
  border-radius: var(--mm-border-radius);
  box-sizing: border-box;
  color: var(--mm-color-primary-color);
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  min-width: 30px;
  padding: 0;
  width: 30px;

  &:hover {
    background-color: var(--mm-color-sidebar);
  }

  @media only screen and (min-width: 420px) {
    font-size: 16px;
    height: 50px;
    min-width: 50px;
    width: 50px;
  }
}


@mixin opaque-overlay {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.7);
}
