@use '../styles/variables';

.alert {
  --mm-color-primary-text: #444;
  --mm-spacing: 20px;

  background: linear-gradient(#fff, var(--mm-color-sidebar));
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  border-left: 6px solid #7eadda;
  border-radius: 0 var(--mm-border-radius) var(--mm-border-radius) 0;
  border-top: 1px solid rgb(245, 245, 245);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--mm-color-primary-text);
  display: flex;
  margin: calc(var(--mm-spacing) * 2) 0;
  padding-left: calc(var(--mm-spacing) / 2);
  position: relative;
}

.iconWrapper {
  background: var(--mm-color-active-blue);
  border-radius: 50%;
  display: grid;
  height: 35px;
  left: -2px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  z-index: 3;

  &::before {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.35);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.icon {
  align-self: center;
  color: #fff;
  font-size: 14px;
  justify-self: center;
}

.content {
  padding: 0 var(--mm-spacing);
}

.content * {
  font-size: 14px !important;
}

.error {
  border-left-color: #f09791;
}

.error .iconWrapper {
  background: #e9594c;
}

.success {
  border-left-color: #87d8aa;
}

.success .iconWrapper {
  background: #3ac279;
}

.warning {
  border-left-color: rgba(232, 159, 41, 1);
}

.warning .iconWrapper {
  background: #e89f29;
}
