@use '../styles/variables';

.loading {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

.wrapper {
  margin: 0 var(--mm-spacing);
  max-width: 960px;
  min-height: 500px;
}

.header {
  margin-bottom: calc(var(--mm-spacing) / 2);
}

.heading {
  font-size: 20px;
  margin: 0;

  strong {
    font-weight: bold;
  }
}

@include variables.breakpoint('lg') {
  .heading {
    font-size: 30px;
  }
}

.query {
  font-weight: bold;
}

.count {
  font-size: 14px;
}

.results {
  margin-bottom: var(--mm-spacing);
}

.result {
  margin-bottom: calc(var(--mm-spacing) / 1.5);
}

.pagination {
  margin-bottom: var(--mm-spacing);

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.spellingLink,
.previous,
.next {
  border-bottom: 2px dotted var(--mm-color-display-text);
  color: var(--mm-color-display-text);
  text-decoration: none;
}

.previous {
  float: left;

  &::before {
    content: '<';
    margin-right: 5px;
  }
}

.next {
  float: right;

  &::after {
    content: '>';
    margin-left: 5px;
  }
}

.spellingLink:hover,
.previous:hover,
.next:hover {
  border-bottom-style: solid;
}
