@use '../../../../styles/variables';

.description {
  line-height: 1.5em;
  padding: calc(var(--mm-spacing) / 2);
}

.body {
  margin: 0 var(--mm-spacing) var(--mm-spacing);
}

.properties {
  border: 1px solid darken(rgba(60, 88, 99, 0.1), 0);
  border-radius: 0 0 var(--mm-border-radius) var(--mm-border-radius);
  border-top: 0;
  padding-bottom: 1px;
}

.toggleExample {
  background: lighten(#3b446f, 20);
  border: 0;
  border-radius: var(--mm-border-radius);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  left: 50%;
  letter-spacing: 1px;
  line-height: 50px;
  margin-top: var(--mm-spacing);
  padding: 0 !important;
  padding-left: calc(var(--mm-spacing) + 50px) !important;
  padding-right: calc(var(--mm-spacing) / 2) !important;
  position: relative;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  vertical-align: middle;
  @include variables.pattern;

  &::before {
    border-radius: var(--mm-border-radius);
    z-index: -1;
  }
}

.btnIcon {
  border-right: 2px solid #eee;
  height: 100%;
  left: 0;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.isExpanded .btnIcon svg {
  transform: rotate(180deg);
}

@include variables.breakpoint('xxl') {
  .properties {
    position: sticky;
    top: calc(var(--page-header-height) + calc(var(--mm-spacing) + var(--heading-height)));
  }

  .toggleExample {
    display: none;
  }
}
