@use '../../../styles/variables';

.heading {
  $heading-height: 50px;
  background: #f6f7f7;
  border: 1px solid darken(rgba(60, 88, 99, 0.1), 0);
  border-radius: var(--mm-border-radius) var(--mm-border-radius) 0 0;
  height: $heading-height;
  line-height: $heading-height;
  margin: var(--mm-spacing) var(--mm-spacing) 0;
  padding: 0 calc(var(--mm-spacing) / 2);
  scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));
  transform-style: preserve-3d;
  z-index: 5;

  &::after {
    background: var(--mm-color-background);
    content: ' ';
    display: block;
    height: calc(100% + 42px);
    left: -41px;
    position: absolute;
    top: -41px;
    transform: translateZ(-1px);
    width: calc(100% + 82px);
    z-index: -1;
  }
}

@supports (position: sticky) {
  .heading {
    position: sticky;
    top: calc(var(--page-header-height) + var(--mm-spacing));

    &::after {
      background: var(--mm-color-background);
      content: ' ';
      display: block;
      height: calc(100% + 42px);
      left: -41px;
      position: absolute;
      top: -41px;
      transform: translateZ(-1px);
      width: calc(100% + 82px);
      z-index: -1;
    }
  }
}

.headingLink {
  color: #666;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.headingType {
  margin-left: calc(var(--mm-spacing) / 4);
  vertical-align: middle;
}
