@use '../../../styles/variables';

.schema {
  width: 100%;
}

@include variables.breakpoint('xxl') {
  .schema {
    display: grid;
    grid-template-areas:
      'schema-heading schema-example'
      'schema-content schema-example';
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px auto;
  }

  .heading {
    grid-area: schema-heading;
  }

  .content {
    grid-area: schema-content;
  }

  .example {
    grid-area: schema-example;
  }
}
