.container {
  background: var(--mm-color-sidebar);
  border-radius: 0 var(--mm-border-radius) var(--mm-border-radius) 0;
  border-top: 1px solid var(--mm-color-border);
  padding: calc(var(--mm-spacing) / 2);
}

.container * {
  color: #545454 !important;
  font-size: 12px !important;
  font-style: italic;
  font-weight: 500;
  line-height: 22px !important;
  max-width: initial !important;
  min-width: initial !important;
  width: auto !important;
}

.container > * {
  margin: calc(var(--mm-spacing) / 4) 0;
}

.container > *:first-child {
  margin-top: 0;
}

.container > *:last-child {
  margin-bottom: 0;
}
