.container {
  background: #effbff;
  border: 1px solid #d5e3f0;
  border-radius: var(--mm-border-radius);
  color: #1e588b;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 10px;
}
