.select {
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJzb3J0LWRvd24iIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzIwIDUxMiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLXNvcnQtZG93biBmYS13LTEwIGZhLTN4Ij48cGF0aCBmaWxsPSIjY2NjIiBkPSJNNDEgMjg4aDIzOGMyMS40IDAgMzIuMSAyNS45IDE3IDQxTDE3NyA0NDhjLTkuNCA5LjQtMjQuNiA5LjQtMzMuOSAwTDI0IDMyOWMtMTUuMS0xNS4xLTQuNC00MSAxNy00MXoiIGNsYXNzPSIiPjwvcGF0aD48L3N2Zz4=');
  background-position: right 10px top calc(50% - 4px);
  background-repeat: no-repeat;
  background-size: 10px;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  padding: 0 var(--mm-spacing) 0 calc(var(--mm-spacing) / 4);

  &:hover {
    background-color: rgba(255, 255, 255, 0.07);
    color: #ddd;
  }
}

.option {
  background-color: rgba(0, 0, 0, 0.8);
}
