@use '../styles/variables';

.container {
  margin: calc(var(--mm-spacing) / 2) 0;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.value {
  margin: calc(var(--mm-spacing) / 4) 0 0 0;
  max-width: calc(100vw - calc(var(--mm-spacing) * 2 - 2px));
  padding-top: 0;
}

@include variables.breakpoint('lg') {
  .value {
    max-width: calc(100vw - var(--mm-layout-sidebar-width) - calc(var(--mm-spacing) * 3) - 4px);
  }
}

@include variables.breakpoint('xl') {
  .value {
    max-width: calc(680px - var(--mm-spacing));
  }
}
