.wrapper {
  background: #639;
  margin-bottom: 1.45rem;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.heading {
  margin: 0;
}

.link {
  color: #fff;
  text-decoration: none;
}
