@use '../styles/variables';

.link {
  align-items: center;
  background: linear-gradient(var(--mm-color-background), var(--mm-color-sidebar));
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0, rgb(0 0 0 / 6%) 0 1px 2px 0;
  color: var(--mm-color-primary-text);
  display: grid;
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 400;
  gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: max-content auto;
  overflow: hidden;
  padding: 12px 10px 8px;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in-out;
  @include variables.pattern-border;

  &::after,
  &::before {
    height: 4px !important;
  }

  &:hover {
    background-color: var(--mm-color-active-blue);
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    top: -2px;
  }
}

.icon {
  border-right: 1px solid var(--mm-color-border);
  color: var(--mm-color-active-blue);
  display: inline-block;
  padding-right: 10px;
}
