.container {
  --mm-product-icon-stroke-width: 6px;
  background: linear-gradient(var(--page-type-color), rgba(0, 119, 194, 1));
  border-radius: calc(var(--mm-border-radius) * 3);
  box-shadow: var(--mm-overview-heading-drop-shadow),
    inset 0 0 0 var(--mm-product-icon-stroke-width) rgba(255, 255, 255, 0.35);
  display: grid;
  height: 100px;
  width: 100px;
}

@supports (transform-style: preserve-3d) {
  .container {
    position: relative;
    transform-style: preserve-3d;
    z-index: 1;

    &::before {
      background: #00a7e5;
      border-radius: calc(var(--mm-border-radius) * 3);
      content: ' ';
      display: block;
      height: 100%;
      position: absolute;
      transform: translateZ(-1px);
      width: 100%;
    }
  }
}

.icon {
  align-self: center;
  fill: #fff;
  filter: drop-shadow(1px 2px 5px rgba(0, 119, 194, 1));
  height: 100%;
  justify-self: center;
  max-height: 70%;
  max-width: 70%;
  width: 100%;
}

.geoip {
  --page-type-color: rgba(0, 255, 102, 0.5);
}

.geolite {
  --page-type-color: rgba(255, 255, 0, 0.5);
}

.minfraud {
  --page-type-color: rgba(255, 0, 136, 0.5);
}
