@use '../styles/variables';

.article {
  margin-bottom: calc(var(--mm-spacing) * 2);
}

.title {
  margin-bottom: calc(var(--mm-spacing) / 4);
  margin-top: 0;
}

.date {
  display: block;
  font-size: 16px;
  font-style: italic;
}
