.title b,
.snippet b {
  font-weight: bold;
}

.title {
  color: var(--mm-color-logo-blue-light);
  display: inline-block;
  font-size: 20px;
  margin-bottom: 3px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.url {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
}

.snippet {
  font-size: 16px;

  br {
    display: none;
  }
}
