.operational {
  color: #56f000;
}

.degradedPerformance {
  color: #fce83a;
}

.partialServiceDisruption {
  color: #ffb302;
}

.plannedMaintenance,
.securityEvent {
  color: #2dccff;
}

.serviceDisruption {
  color: #ff3838;
}

.statusUnknown {
  color: #9ea7ad;
}
