<nav class="sidebar__list">
  <ul class="sidebar__list-items">
    <li aria-expanded="false"
      class="sidebar__category is-closed" data-category-name="minfraud">
      <a class="sidebar__category-header" data-name="minfraud" tabindex="0">
        <span class="sidebar__label">minFraud</span>
      </a>
      <ul class="sub-sidebar__items">
        <li lass="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/evaluate-a-transaction">
            <span>Evaluate a Transaction</span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/report-a-transaction">
            <span>
              Report a Transaction
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/track-devices">
            <span>
              Track Devices
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/alerts">
            <span>
              minFraud Alerts
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/working-with-transaction-dispositions">
            <span>
              Working with Transaction Dispositions
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/api-documentation">
            <span>
              API Documentation
            </span>
          </a>
          <ul>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/minfraud/api-documentation/requests">
                <span>
                  Requests
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/minfraud/api-documentation/responses">
                <span>
                  Responses
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/release-notes/2024">
            <span>
              Release Notes
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/sandbox-environment">
            <span>
              Sandbox Environment
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="contribute">
            <span>
              Contribute
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/minfraud-legacy">
            <span>
              minFraud Legacy
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/minfraud/proxy-detection">
            <span>
              Proxy Detection Legacy Web Service
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/maxmind-server-ip-addresses">
            <span>
              MaxMind Server IP Addresses
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="https://support.maxmind.com/hc/en-us/categories/1260801482329-minFraud-Web-Services">
            <span>
              Knowledge Base
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li aria-expanded="false"
      class="sidebar__category is-closed" data-category-name="geoip">
      <a class="sidebar__category-header" href="/geoip" data-name="geoip" tabindex="0">
        <span class="sidebar__label">GeoIP</span>
      </a>
      <ul class="sub-sidebar__items">
        <li lass="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/geolocate-an-ip">
            <span>Geolocate an IP</span>
          </a>
          <ul>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/geolocate-an-ip/databases">
                <span>
                  Databases
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/geolocate-an-ip/web-services">
                <span>
                  Web Services
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/geolocate-an-ip/client-side-javascript">
                <span>
                  Client-side JavaScript
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/updating-databases">
            <span>
              Updating Databases
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/importing-databases">
            <span>
              Importing Databases
            </span>
          </a>
          <ul>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/importing-databases/postgresql">
                <span>
                  Import to PostgreSQL
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/importing-databases/mysql">
                <span>
                  Import to MySQL
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/geolite2-free-geolocation-data">
            <span>
              GeoLite2 Free Geolocation Data
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/privacy-exclusions-api">
            <span>
              Privacy Exclusions API
            </span>
          </a>
        </li>
        <hr />
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/docs/web-services">
            <span>
              Web Services Documentation
            </span>
          </a>
          <ul>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/web-services/requests">
                <span>
                  Requests
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/web-services/responses">
                <span>
                  Responses
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/web-services/sandbox-environment">
                <span>
                  Sandbox Environment
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/web-services/legacy">
                <span>
                  Legacy Web Services
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/docs/databases">
            <span>
              Database Documentation
            </span>
          </a>
          <ul>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/city-and-country">
                <span>
                  City and Country
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/enterprise">
                <span>
                  Enterprise
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/anonymous-ip">
                <span>
                  Anonymous IP
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/isp">
                <span>
                  ISP
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/connection-type">
                <span>
                  Connection Type
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/domain">
                <span>
                  Domain
                </span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link"
                href="/geoip/docs/databases/asn">
                <span>
                  ASN
                </span>
              </a>
            </li>
          </ul>
        </li>
        <hr />
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/geoip/release-notes">
            <span>
              Release Notes
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/contribute">
            <span>
              Contribute
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/maxmind-server-ip-addresses">
            <span>
              MaxMind Server IP Addresses
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="/license-key-validation-api">
            <span>
              License Key Validation API
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="https://support.maxmind.com/hc/en-us/categories/1260801446650-GeoIP2-and-GeoLite2">
            <span>
              Knowledge Base
            </span>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link"
            href="https://maxmind.github.io/MaxMind-DB/">
            <span>
              MMDB Format Spec
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
