{{ $currentPage := . }}
<nav aria-label="Main Navigation">
  <ul>
    {{ range .Site.Menus.minfraud }}
      <li>
        <a
        class="{{ if or ($currentPage.IsMenuCurrent "minfraud" .) ($currentPage.HasMenuCurrent "minfraud" .) }}is-active{{ end }}"
        href="{{ .URL }}"
        {{ if eq .Params.external true }}
          target="_blank" rel="noopener noreferrer"
        {{ end }}
        >
        {{ .Name }}
        </a>
        {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
              <li>
                <a
                class="{{ if $currentPage.IsMenuCurrent "minfraud" . }}is-active{{ end }}"
                href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>

  <ul>
    {{ range .Site.Menus.geoip }}
      <li>
        <a
        class="{{ if or ($currentPage.IsMenuCurrent "geoip" .) ($currentPage.HasMenuCurrent "geoip" .) }}is-active{{ end }}"
        href="{{ .URL }}"
        {{ if eq .Params.external true }}
          target="_blank" rel="noopener noreferrer"
        {{ end }}
        >
        {{ .Name }}
        </a>
        {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
              <li>
                <a
                class="{{ if $currentPage.IsMenuCurrent "geoip" . }}is-active{{ end }}"
                href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>

  <ul>
    {{ range .Site.Menus.general }}
      <li>
        <a
        class="{{ if or ($currentPage.IsMenuCurrent "general" .) ($currentPage.HasMenuCurrent "general" .) }}is-active{{ end }}"
        href="{{ .URL }}"
        {{ if eq .Params.external true }}
          target="_blank" rel="noopener noreferrer"
        {{ end }}
        >
        {{ .Name }}
        </a>
        {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
              <li>
                <a
                class="{{ if $currentPage.IsMenuCurrent "general" . }}is-active{{ end }}"
                href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
