@use '../../../../styles/variables';

.row {
  border: 2px solid transparent;
  padding: calc(var(--mm-spacing) / 2);
  position: relative;
  scroll-margin-top: 40vh;
}

.row::after {
  background: #eee;
  bottom: -2px;
  content: ' ';
  height: 1px;
  left: calc(var(--mm-spacing) / 2);
  position: absolute;
  width: calc(100% - var(--mm-spacing));
}

.row:last-of-type {
  border-radius: 0 0 var(--mm-border-radius) var(--mm-border-radius);
}

.row:last-of-type::after {
  display: none;
}

.row:hover {
  background: #f9fdff;
}

.row__targeted {
  background: #effbff;
  border: var(--mm-outline);
  z-index: 2;
}

.row__targeted::after {
  display: none;
}

.name {
  color: var(--mm-color-primary-text);
  font-family: var(--mm-font-stack-monospace);
  font-weight: 500;
}

.type {
  margin-left: calc(var(--mm-spacing) / 4);
  vertical-align: middle;
}

.description {
  color: var(--mm-color-primary-text);
  font-size: 14px;
  line-height: 21px;
  margin-top: calc(var(--mm-spacing) / 4);
}
