.button {
  background: none;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #ccc;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 1px;
  padding: 0 calc(var(--mm-spacing) / 4);
  position: relative;
}

.button:hover {
  background: rgba(255, 255, 255, 0.07);
  color: #ddd;
}

.button:first-of-type {
  border-radius: var(--mm-border-radius) 0 0 0;
}

.button:last-of-type::after {
  background-color: rgba(255, 255, 255, 0.2);
  content: ' ';
  display: inline-block;
  height: 100%;
  position: absolute;
  right: -2px;
  top: 0;
  width: 1px;
}

.button.active {
  background: rgba(255, 255, 255, 0.16);
  color: #fff;
}
