@use '../styles/variables';

.message {
  border-radius: var(--mm-border-radius) 0 0 var(--mm-border-radius);
  font-size: 14px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.message--hidden {
  display: none;
}

.message__content {
  background: var(--mm-color-logo-blue-light);
  border-radius: var(--mm-border-radius) !important;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
  color: #eee;
  display: inline-block;
  font-size: 14px;
  left: 50%;
  margin: 0 auto;
  padding: calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2);
  position: relative;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  @keyframes show-message {
    0% {
      backdrop-filter: blur(0);
    }

    100% {
      backdrop-filter: blur(2px);
    }
  }

  .message--visible {
    animation: show-message 0.25s forwards;
  }

  @keyframes show-message-content {
    0% {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }

    100% {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
  }

  .message--visible .message__content {
    animation: show-message-content 0.1s forwards;
  }

  @keyframes hiding-message {
    0% {
      backdrop-filter: blur(2px);
    }

    100% {
      backdrop-filter: blur(0);
    }
  }

  .message--hiding {
    animation: hiding-message 0.25s forwards;
    background-color: transparent;
  }

  @keyframes hide-message-content {
    0% {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }

    100% {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }
  }

  .message--hiding .message__content {
    animation: hide-message-content 0.1s forwards;
  }
}
