@use '../../../styles/variables';

.container {
  color: #d5ddeb;
  display: inline-block;
  font-size: 14px;
  position: relative;
  width: 100%;
}

.toolbar {
  background-color: #3d5c6a;
  border-radius: var(--mm-border-radius) var(--mm-border-radius) 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
  height: var(--mm-spacing);
  position: sticky;
  top: calc(var(--page-header-height) + 15px);
  width: 100%;
  z-index: 3;
}

.toolbar::before {
  background: #fff;
  content: ' ';
  display: block;
  height: 15px;
  position: absolute;
  top: -16px;
  width: 100%;
}

.toolbar + [class^='Pre-module--content'] [class^='Code-module--container'] {
  border-radius: 0 0 var(--mm-border-radius) var(--mm-border-radius);
  border-top: 0;
}

.copyBtn {
  border-radius: 0 !important;
  position: relative;
}

.copyBtn__checkedContent {
  display: none;
}

.copyBtn__checkedContent svg {
  fill: #56f000;
}

.copyBtn__isCopying .copyBtn__content {
  visibility: hidden;
}

.copyBtn__isCopying .copyBtn__checkedContent {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@include variables.breakpoint('lg') {
  .toolbar__buttons {
    display: block;
  }
}

.content {
  position: relative;
  top: 0;
}

/* TODO - target class names instead of element */
.container pre {
  margin-top: 0 !important;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
