@use '../../../styles/variables';

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 var(--mm-spacing);
  padding: var(--mm-spacing) 0;
}
