@import '../styles/variables';

$border-color: rgba(255, 255, 255, 0.2);
$chars-color: rgba(255, 255, 255, 0.2);
$font-color: rgba(255, 255, 255, 0.3);

:global {
  .line-numbers .line-numbers-rows {
    border-color: $chars-color !important;
    font-family: 'Source Code Pro', serif !important;
    margin-top: -1px;
  }

  .line-numbers-rows > span::before {
    color: $font-color !important;
  }

  .command-line-prompt {
    border-color: $chars-color !important;
  }

  .command-line-prompt > span::before {
    color: $font-color !important;
  }

  .token.tab::before {
    content: '\279D' !important;
  }

  .token.tab:not(:empty)::before,
  .token.cr::before,
  .token.crlf::before,
  .token.lf::before,
  .token.space::before {
    color: $chars-color !important;
    opacity: 1 !important;
  }

  .token.cr::before,
  .token.crlf::before,
  .token.lf::before {
    content: '\21b5' !important;
    margin-left: 4px;
  }

  .token.indent {
    border-left: 1px solid $border-color;
    margin-left: 4px;
    padding-left: 4px;
  }

  .token.indent .token.space:nth-of-type(2n),
  .token.indent .token.tab {
    border-right: 1px solid $border-color;
    margin-right: 4px;
    padding-right: 4px;
  }

  .token.indent .token.space:last-of-type,
  .token.indent .token.tab:last-of-type {
    border-right: 0;
    margin-right: 0;
  }
}

.invisibles--hidden {
  :global {
    .token.tab:not(:empty)::before,
    .token.cr::before,
    .token.crlf::before,
    .token.lf::before,
    .token.space::before {
      opacity: 0 !important;
    }

    .token.indent {
      border-left-color: transparent;
    }

    .token.indent .token.space:nth-of-type(2n),
    .token.indent .token.tab {
      border-right-color: transparent;
    }
  }
}

.pre {
  border-radius: 6px 0 0 6px;
  font-family: 'Source Code Pro', serif !important;
  grid-area: code;
  height: 100%;
  margin: $mm-spacing auto 0 !important;

  @include scrollbars();
}
