@import '../styles/variables';

$border-color: rgba(255, 255, 255, 0.2);
$chars-color: rgba(255, 255, 255, 0.2);
$font-color: rgba(255, 255, 255, 0.3);

:global {
  code[class*='language-'],
  pre[class*='language-'] {
    background: #393d46;
    color: #b3bac6;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.5em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
  }

  code[class*='language-']::-moz-selection,
  pre[class*='language-']::-moz-selection,
  code[class*='language-'] ::-moz-selection,
  pre[class*='language-'] ::-moz-selection {
    background: rgba(255, 255, 255, 0.08);
  }

  code[class*='language-']::selection,
  pre[class*='language-']::selection,
  code[class*='language-'] ::selection,
  pre[class*='language-'] ::selection {
    background: rgba(255, 255, 255, 0.08);
  }

  :not(pre) > code[class*='language-'] {
    border-radius: 0.2em;
    padding: 0.1em;
    white-space: normal;
  }

  pre[class*='language-'] {
    margin: 0.5em 0;
    overflow: auto;
    padding: $mm-spacing;
    position: relative;
  }

  // ✅
  .language-css > code,
  .language-javascript > code,
  .language-sass > code,
  .language-scss > code {
    color: #e9c782;
  }

  // ✅
  .language-typescript > code {
    color: #e5767e;
  }

  [class*='language-'] .namespace {
    opacity: 0.7;
  }

  // ✅
  .token.atrule {
    color: #cd83e3;
  }

  // ✅
  .token.attr-name {
    color: #e9c782;
  }

  // ✅
  .token.attr-value {
    color: #a2ca82;
  }

  // ✅
  .token.attribute {
    color: #a2ca82;
  }

  // ✅
  .token.boolean {
    color: #e9c782;
  }

  // ✅
  .token.builtin {
    color: #e9c782;
  }

  .token.cdata {
    color: #80cbc4;
  }

  .token.char {
    color: #80cbc4;
  }

  // ✅
  .token.class {
    color: #e9c782;
  }

  // ✅
  .token.class-name {
    color: #e9c782;
  }

  // ✅
  .token.color {
    color: #e9c782;
  }

  // ✅
  .token.comment {
    color: #898e98;
    font-style: italic;
  }

  // ✅
  .token.constant {
    color: #e9c782;
  }

  .token.deleted {
    color: #e5767e;
  }

  .token.doctype {
    color: #546e7a;
  }

  .token.entity {
    color: #e5767e;
  }

  // ✅
  .token.function {
    color: #6ab9f3;
  }

  .token.hexcode {
    color: #e9c782;
  }

  .token.id {
    color: #cd83e3;
  }

  .token.important {
    color: #cd83e3;
  }

  .token.interpolation-punctuation.punctuation {
    color: #cd83e3;
  }

  .token.inserted {
    color: #80cbc4;
  }

  // ✅
  .token.keyword {
    color: #cd83e3;
  }

  // ✅
  .token.number {
    color: #e9c782;
  }

  // ✅
  .token.operator {
    color: #5ab2be;
  }

  // ✅
  .language-javascript .token.operator,
  .language-typescript .token.operator {
    color: #b4bbc7;
  }

  .token.prolog {
    color: #546e7a;
  }

  // ✅
  .token.parameter {
    color: #e5767e;
  }

  // ✅
  .token.property {
    color: #e5767e;
  }

  .token.pseudo-class {
    color: #a2ca82;
  }

  .token.pseudo-element {
    color: #a2ca82;
  }

  // ✅
  .token.punctuation {
    color: #b4bbc7;
  }

  .token.regex {
    color: #e9c782;
  }

  // ✅
  .token.selector {
    color: #e5767e;
  }

  // ✅
  .token.string {
    color: #a2ca82;
  }

  .token.symbol {
    color: #c792ea;
  }

  // ✅
  .token.tag {
    color: #e5767e;
  }

  // ✅
  .token.unit {
    color: #e5767e;
  }

  // ✅
  .token.url {
    color: #e5767e;
  }

  // ✅
  .token.variable {
    color: #e5767e;
  }
}

:global {
  .line-numbers .line-numbers-rows {
    border-color: transparent !important;
    font-family: 'Source Code Pro', monospace !important;
    font-size: 18px;
    margin-top: -1px;
  }

  .line-numbers-rows > span::before {
    color: lighten(#535c6e, 5) !important;
  }

  .command-line-prompt {
    border-color: $chars-color !important;
  }

  .command-line-prompt > span::before {
    color: $font-color !important;
  }

  .token.tab::before {
    content: '\279D' !important;
  }

  .token.tab:not(:empty)::before,
  .token.cr::before,
  .token.crlf::before,
  .token.lf::before,
  .token.space::before {
    color: lighten(#434952, 5) !important;
    opacity: 1 !important;
  }

  .token.cr::before,
  .token.crlf::before,
  .token.lf::before {
    display: none;
  }

  .token.indent {
    border-left: 1px solid lighten(#434952, 5);
    margin-left: 4px;
    padding-left: 4px;
  }

  .token.indent:blank {
    display: none;
  }

  .token.indent .token.space:nth-of-type(2n),
  .token.indent .token.tab {
    border-right: 1px solid lighten(#434952, 5);
    margin-right: 4px;
    padding-right: 4px;
  }

  .token.indent .token.space:last-of-type,
  .token.indent .token.tab:last-of-type {
    border-right: 0;
    margin-right: 0;
  }
}

.invisibles--hidden {
  :global {
    .token.tab:not(:empty)::before,
    .token.cr::before,
    .token.crlf::before,
    .token.lf::before,
    .token.space::before {
      opacity: 0 !important;
    }

    .token.indent {
      border-left-color: transparent;
    }

    .token.indent .token.space:nth-of-type(2n),
    .token.indent .token.tab {
      border-right-color: transparent;
    }
  }
}

.pre {
  border-radius: 6px;
  font-family: 'Source Code Pro', monospace !important;
  grid-area: code;
  height: 100%;
  margin: $mm-spacing auto 0 !important;
  transform: translate3d(0, 0, 0);

  @include scrollbars();
}
