@import '../styles/variables';

.message {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px 0 0 6px;
  font-size: 14px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.message--hidden {
  display: none;
}

.message__content {
  background: $mm-light-blue;
  border-radius: 6px !important;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.75);
  color: #eee;
  display: inline-block;
  font-size: 14px;
  left: 50%;
  margin: 0 auto;
  padding: ($mm-spacing / 4) ($mm-spacing / 2);
  position: relative;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  @keyframes show-message {
    0% {
      backdrop-filter: blur(0);
    }

    100% {
      backdrop-filter: blur(2px);
    }
  }

  .message--visible {
    animation: show-message 0.25s forwards;
    background-color: rgba(0, 0, 0, 0.1);
  }

  @keyframes show-message-content {
    0% {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }

    100% {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
  }

  .message--visible .message__content {
    animation: show-message-content 0.1s forwards;
  }

  @keyframes hiding-message {
    0% {
      backdrop-filter: blur(2px);
    }

    100% {
      backdrop-filter: blur(0);
    }
  }

  .message--hiding {
    animation: hiding-message 0.25s forwards;
    background-color: transparent;
  }

  @keyframes hide-message-content {
    0% {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }

    100% {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }
  }

  .message--hiding .message__content {
    animation: hide-message-content 0.1s forwards;
  }
}
