@use '../../styles/variables';

.a {
  align-items: center;
  border-bottom: 2px dotted var(--mm-color-display-text);
  color: var(--mm-color-display-text);
  font-weight: 500;
  height: 20px;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
}

.icon {
  margin-left: 5px;
  transform: translateY(-2px);
}
