@use '../../styles/variables';

.code {
  background: #eee;
  border-radius: 4px;
  color: var(--mm-color-display-text);
  font-family: var(--mm-font-stack-monospace);
  font-size: 14px;
  font-weight: 700;
  padding: 2px 6px;
  transition: background-color 0.2s ease-out;
}

code:hover {
  background: #ddd;
}
