@use '../../styles/variables';

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--mm-spacing) 0;
}

.container {
  background-color: var(--mm-color-sidebar);
  border-bottom: 1px solid var(--mm-color-border);
  border-left: 1px solid #eee;
  border-radius: var(--mm-border-radius);
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #ccc;
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: scroll;
  position: relative;
  width: 100%;
  z-index: 2;

  @include variables.scrollbars(rgba(0,0,0,0.2));
}

.table {
  font-size: 1rem;
  line-height: 1rem;
  overflow-x: auto;
  width: 100%;
}
