.td {
  border-top: 1px solid #eee;
  color: var(--mm-color-primary-text);
  font-size: 12px;
  line-height: 18px;
  padding: 8px 16px;
}

.td * {
  font-size: 12px;
  line-height: 18px;
  max-width: initial !important;
  min-width: initial !important;
  width: auto !important;
}

.td > * {
  margin: calc(var(--mm-spacing) / 4) 0;
}

.td > *:first-child {
  margin-top: 0;
}

.td > *:last-child {
  margin-bottom: 0;
}

.td [class^='Code-module'] {
  white-space: nowrap;
}
