@import '../styles/variables';

.row {
  border: 2px solid transparent;
  padding: $mm-spacing / 2;
  position: relative;
  scroll-margin-top: 40vh;
}

.row::after {
  background: #eee;
  bottom: -2px;
  content: ' ';
  height: 1px;
  left: $mm-spacing / 2;
  position: absolute;
  width: calc(100% - #{$mm-spacing});
}

.row:last-of-type {
  border-radius: 0 0 6px 6px;
}

.row:last-of-type::after {
  display: none;
}

.row:hover {
  background: lighten($mm-light-blue, 52);
}

.row--targeted {
  background: lighten($mm-light-blue, 50);
  border: 2px solid $mm-light-blue;
  z-index: 2;
}

.row--targeted::after {
  display: none;
}

.name {
  color: $mm-color-primary;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.type {
  margin-left: $mm-spacing / 4;
  vertical-align: middle;
}

.description {
  color: $mm-color-primary;
  font-size: 14px;
  line-height: 21px;
  margin-top: $mm-spacing / 4;
}
