@import '../styles/variables';

$heading-height: 70px;

.schema {
  width: 100%;
}

.schema__heading {
  background: #fff;
  padding: 0 $mm-spacing;
  position: sticky;
  top: 50px;
  z-index: 2;
}

.schema__heading-link {
  border-bottom: 1px solid $mm-border;
  color: #666;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: $heading-height;
  line-height: $heading-height;
  text-decoration: none;
  width: 100%;
}

.schema__example {
  background: rgb(38, 50, 56);
  padding: $mm-spacing;
}

.schema__body {
  padding: $mm-spacing / 2;
}

@include breakpoint('xxl') {
  .schema {
    display: grid;
    grid-template-areas:
      'schema-heading schema-example'
      'schema-body schema-example';
    grid-template-columns: 50% 50%;
  }

  .schema__heading {
    grid-area: schema-heading;
  }

  .schema__example {
    grid-area: schema-example;
    padding-top: $heading-height;
  }

  .schema__example-json {
    margin-bottom: 0;
    position: sticky;
    top: 100px;
  }

  .schema__body {
    grid-area: schema-body;
    padding: $mm-spacing;
  }

  .schema__properties {
    overflow-x: scroll;
  }
}
