@use '../../../styles/variables';

.example {
  height: 0;
  overflow: hidden;
  padding: 0 !important;

  [class*='Wrapper-module--wrapper'] {
    margin: 0 var(--mm-spacing);
    z-index: 2;

    &::before,
    &::after {
      display: none;
    }
  }
}

.example--is-expanded {
  height: auto;
  margin: 0 !important;
  overflow: initial;
  padding: var(--mm-spacing);
}

.example-json {
  margin: 0;
}

@include variables.breakpoint('xxl') {
  .example {
    grid-area: schema-example;
    height: auto;
    margin: 0 !important;
    overflow: initial;
    padding-top: var(--mm-spacing);

    @include variables.pattern;

    &::before {
      background-attachment: fixed;
    }
  }

  .example-json {
    margin-bottom: 0;
    position: sticky;
    top: var(--page-header-height);
  }
}
