@use '../../../styles/variables';

.example {
  height: 0;
  overflow: hidden;
  padding: 0 !important;

  [class*='Wrapper-module--wrapper'] {
    margin: 0 var(--mm-spacing);
    z-index: 2;

    &::before,
    &::after {
      display: none;
    }
  }
}

.example__isExpanded {
  height: auto;
  margin: 0 !important;
  overflow: initial;
  padding: var(--mm-spacing);
}

.exampleJson {
  margin: 0;
}

@include variables.breakpoint('xxl') {
  .example {
    height: auto;
    margin: 0 !important;
    overflow: initial;
    padding-top: var(--mm-spacing);

    @include variables.pattern;
  }

  @supports(background-attachment: fixed) {
    .example::before {
      background-attachment: fixed;
    }
  }

  .exampleJson {
    margin-bottom: 0;
    position: sticky;
    top: var(--page-header-height);
  }
}
