@use '../../../styles/variables';

.type {
  background: rgba(60, 88, 99, 0.05);
  border: 1px solid darken(rgba(60, 88, 99, 0.05), 20);
  border-radius: var(--mm-border-radius);
  color: rgb(110, 110, 110);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3px 8px;
}

.type a {
  color: rgb(82, 54, 148);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
