{{/* Parse the YAML data from the shortcode's inner content */}}
{{ $rows := .Inner | unmarshal }}

{{/* Build the HTML table with proper styling to match existing design */}}
<div class="table">
  <table class="schema">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{/* Loop through each item (row) from the parsed YAML data */}}
      {{ range $rows }}
        {{ $parentKey := $.Get "key" }}
        {{ $parentKey = replace $parentKey "_" "-" }}
        {{ $key := .key }}
        {{ $fragment := printf "schema--response--%s__%s" $parentKey $key }}
        
        {{ $hasCountry := eq (.country | default "false") "true" }}
        {{ $hasCity := eq (.city | default "false") "true" }}
        {{ $hasInsights := eq (.insights | default "false") "true" }}
        
        <tr>
          <td class="schema__key-cell">
            <a href="#{{ $fragment }}"><code class="schema__row-key">{{ .key }}</code></a>
          </td>
          <td class="schema__type-cell">
            {{ .valueType }}
          </td>
          <td>
            <div id="{{ $fragment }}">
              {{ .description | markdownify }}
              {{ with .valueTypeNote }}
                <p>
                  <em>{{ . }}</em>
                </p>
              {{ end }}
              <div>
                <span class="tag {{ if $hasCountry }}tag--checked{{ else }}tag--disabled{{ end }}">
                  GeoIP Country
                </span>
                <span class="tag {{ if $hasCity }}tag--checked{{ else }}tag--disabled{{ end }}">
                  GeoIP City
                </span>
                <span class="tag {{ if $hasInsights }}tag--checked{{ else }}tag--disabled{{ end }}">
                  GeoIP Insights
                </span>
              </div>
            </div>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
