@import '../../styles/variables';

.sidebar {
  background: var(--mm-color-sidebar);
  border-right: 1px solid var(--mm-color-border);
  grid-area: sidebar;
  position: relative;
  transition: all 0.15s ease-out;
  z-index: 9;
}

.nav {
  position: sticky;
  top: calc(var(--page-header-height) + var(--mm-spacing));
}

.navItem {
  border-bottom: 1px solid var(--mm-color-border);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: calc(var(--mm-spacing) / 4);
}

.navItemLink {
  background: var(--mm-color-background);
  border-top: 1px solid #eee;
  color: #666;
  display: inline-block;
  font-family: var(--mm-font-stack-display);
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  padding: 0 calc(var(--mm-spacing) / 2);
  text-decoration: none;
  transition: all 0.25s ease-out;
  width: 100%;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    padding: 0 calc(var(--mm-spacing) / 2) 0 var(--mm-spacing);
  }
}

@include breakpoint('lg') {
  .sidebar {
    grid-area: sidebar;
    transform: initial !important;
    transition: none;
  }

  .navItemLink {
    font-size: 16px;
    padding: 0 var(--mm-spacing);

    &:hover {
      padding-left: calc(var(--mm-spacing) * 1.25);
    }
  }
}
