@use '../../styles/variables';

.layout [class^='Layout-module--content'] {
  --mm-spacing: 20px;
  background-color: var(--mm-color-sidebar);
}

.callout {
  padding: var(--mm-spacing) var(--mm-spacing) 0;
  text-align: center;
}

.calloutHeading {
  font-family: var(--mm-font-stack-display);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: calc(var(--mm-spacing) / 2);
}

.noWrap {
  white-space: nowrap;
}

.calloutSubheading {
  font-family: var(--mm-font-stack-monospace);
  font-size: 14px;
  font-weight: 700;
}

.products {
  display: grid;
  gap: var(--mm-spacing);
  padding: var(--mm-spacing);
}

@include variables.breakpoint('md') {
  .layout [class^='Layout-module--content'] {
    --mm-spacing: 40px;
    background-color: var(--mm-color-sidebar);
  }

  .calloutHeading {
    font-size: 35px;
  }

  .calloutSubheading {
    font-size: 20px;
  }

  .products {
    gap: var(--mm-spacing);
    grid-template-columns: repeat(2, minmax(0, 600px));
    justify-content: center;
  }
}
