$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1660px
);

@mixin breakpoint($size) {
  $width: map-get($breakpoints, $size);

  @media only screen and (min-width: $width) {
    @content;
  }
}

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1600px
);

@mixin container($size) {
  $width: map-get($containers, $size);
  max-width: $width;
  padding: 0;
}

@mixin max-width {
  @include breakpoint('xl') {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
  }

  @include breakpoint('xl') {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
  }
}

@mixin heading {
  color: var(--mm-color-primary-text);
  font-family: var(--mm-font-stack-display);
  font-weight: 500;
  line-height: 1.2em;
  margin: calc(var(--mm-spacing) * 2) var(--mm-spacing) calc(var(--mm-spacing) / 2);
  position: relative;
  scroll-margin-top: calc(var(--page-header-height) + var(--mm-spacing));

  & + p {
    margin-top: calc(var(--mm-spacing) / 2);
  }

  .link {
    color: var(--mm-color-primary-text);
    text-decoration: none;
  }

  .icon {
    font-size: 16px;
    left: calc(var(--mm-spacing) / 4 * -1);
    margin-bottom: 0 !important;
    opacity: 0.25;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: all 0.15s ease-out;
  }

  .link:hover .icon {
    opacity: 0.75;
  }

  @include max-width;
}

@mixin scrollbars {
  $scroll-color: rgba(255, 255, 255, 0.2);

  scrollbar-color: $scroll-color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: var(--mm-border-radius);
    width: var(--mm-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scroll-color;
    border-radius: var(--mm-border-radius);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@mixin pattern {
  --pattern-shade-1: #00a7e5;
  --pattern-shade-2: #009fdb;
  --pattern-shade-3: var(--mm-color-logo-blue-light);
  background-attachment: fixed;
  background-color: var(--pattern-shade-1);
  background-image: linear-gradient(30deg, var(--pattern-shade-2) 12%, transparent 12.5%, transparent 87%, var(--pattern-shade-2) 87.5%, var(--pattern-shade-2)),
    linear-gradient(150deg, var(--pattern-shade-2) 12%, transparent 12.5%, transparent 87%, var(--pattern-shade-2) 87.5%, var(--pattern-shade-2)),
    linear-gradient(30deg, var(--pattern-shade-2) 12%, transparent 12.5%, transparent 87%, var(--pattern-shade-2) 87.5%, var(--pattern-shade-2)),
    linear-gradient(150deg, var(--pattern-shade-2) 12%, transparent 12.5%, transparent 87%, var(--pattern-shade-2) 87.5%, var(--pattern-shade-2)),
    linear-gradient(60deg, var(--pattern-shade-3) 25%, transparent 25.5%, transparent 75%, var(--pattern-shade-3) 75%, var(--pattern-shade-3)),
    linear-gradient(60deg, var(--pattern-shade-3) 25%, transparent 25.5%, transparent 75%, var(--pattern-shade-3) 75%, var(--pattern-shade-3));
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-repeat: round;
  background-size: 80px 140px;
  padding: var(--mm-spacing);
  position: relative;

  &::before {
    background: rgb(0, 119, 194);
    background: linear-gradient(90deg, rgba(0, 119, 194, 0.5) 0%, var(--page-type-color));
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
