@import './reset';

body {
  color: #666;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3em;
  position: relative;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: $mm-light-blue;
  outline-style: solid;
  outline-width: 2px;
}
