@use '../../styles/variables';

.header {
  background: var(--mm-color-background);
  padding: var(--mm-spacing);
  z-index: 5;
}

.heading {
  margin: 0;
  padding: 0 0 calc(var(--mm-spacing) / 4);
  @include variables.max-width;
}

.aside {
  background: var(--mm-color-sidebar);
  margin: var(--mm-spacing);
  padding: var(--mm-spacing);
  position: relative;

  @include variables.pattern-border;
}

.header + .aside {
  margin-top: 0;
}

.footer {
  margin: 0 var(--mm-spacing);
  width: calc(100% - calc(var(--mm-spacing) * 2));
}

.last-updated {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.footer-container {
  border-top: 1px solid var(--mm-color-border);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: var(--mm-spacing) 0;
  @include variables.max-width;
}

.footer-next,
.footer-previous {
  border-radius: var(--mm-border-radius);
  color: var(--mm-color-display-text);
  column-gap: calc(var(--mm-spacing) / 2);
  display: grid;
  font-size: 18px;
  font-weight: 500;
  grid-template-rows: max-content 1fr;
  padding: calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2);
  text-decoration: none;
  transition: padding 0.2s ease-in-out, background 0.1s ease-in-out;

  &:hover {
    background: var(--mm-color-sidebar);
  }
}

/* stylelint-disable no-descending-specificity */
.footer-next {
  grid-template-areas:
    'direction arrow'
    'title arrow';
  grid-template-columns: 1fr min-content;
  padding-right: var(--mm-spacing);
  text-align: right;

  &:hover {
    padding-right: calc(var(--mm-spacing) / 2);
  }
}

.footer-previous {
  grid-template-areas:
    'arrow direction'
    'arrow title';
  grid-template-columns: min-content 1fr;
  padding-left: var(--mm-spacing);

  &:hover {
    padding-left: calc(var(--mm-spacing) / 2);
  }
}
/* stylelint-enable no-descending-specificity */

.footer-direction {
  color: var(--mm-color-primary-text);
  display: block;
  font-size: 12px;
  font-weight: 500;
  grid-area: direction;
  text-decoration: none;
}

.footer-title {
  grid-area: title;
}

.footer-arrow {
  align-self: center;
  grid-area: arrow;
  justify-self: center;
}

@include variables.breakpoint('sm') {
  .footer-container {
    grid-template-areas: 'previous next';
    grid-template-columns: 1fr 1fr;
  }

  .footer-next {
    grid-area: next;
    text-align: right;
  }

  .footer-previous {
    grid-area: previous;
  }
}

@include variables.breakpoint('md') {
  .article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    flex: 1;
  }
}

@include variables.breakpoint('xl') {
  .article {
    display: grid;
    grid-template-areas:
      'header header'
      'aside aside'
      'content content'
      'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content 1fr min-content;
    height: 100%;
  }

  .header {
    grid-area: header;
  }

  .header ~ .content > *:first-child {
    margin-top: 0;
  }

  .aside {
    grid-area: aside;
    min-width: 700px;
    @include variables.max-width;
  }

  .content {
    grid-area: content;
  }

  .content [class*='Table-module--wrapper'],
  .content [class*='Pre-module--container'] {
    margin: 0 auto;
    max-width: 680px;
    min-width: auto;
  }

  .footer {
    grid-area: footer;
  }
}

@include variables.breakpoint('xxl') {
  .article {
    grid-template-areas:
      'header aside'
      'content aside'
      'footer aside';
    grid-template-columns: calc(100vw - 640px) var(--mm-layout-toc-width);
    grid-template-rows: min-content auto min-content;
    /* autoprefixer: ignore next */
    justify-items: start;
  }

  .header {
    grid-area: header;
    width: 100%;
  }

  .aside {
    background: var(--mm-color-background);
    border-bottom: 0;
    grid-area: aside;
    height: auto;
    margin: 0;
    min-width: auto;
    padding: 0;
    width: 100%;
  }

  .aside::before,
  .aside::after {
    display: none;
  }

  .tableOfContents {
    max-height: calc(100vh - var(--page-header-height));
    overflow-y: scroll;
    padding: var(--mm-spacing) var(--mm-spacing) var(--mm-spacing) 20px;
    position: sticky;
    top: calc(var(--page-header-height));
    width: 100%;
  }

  .content {
    grid-area: content;
    width: 100%;
  }
}

@include variables.breakpoint('xxxl') {
  .content {
    margin: 0 auto;
  }

  .content > [id^='toc-'] {
    margin: calc(var(--mm-spacing) * 3);
  }
}
