@use '../../styles/variables';

.article {
  padding: var(--mm-spacing);
}

.header {
  background: var(--mm-color-background);
  z-index: 5;
  @include variables.max-width;
}

.heading {
  margin: 0;
  padding: 0 0 var(--mm-spacing);
}

.aside {
  background: var(--mm-color-sidebar);
  margin: var(--mm-spacing) 0;
  padding: var(--mm-spacing);
  position: relative;

  @include variables.pattern-border;
}

.header + .aside {
  margin-top: 0;
}

.content {
  @include variables.max-width;
}

.content > [id^='toc-']:first-child > *:first-child {
  margin-top: 0;
}

.footer {
  border-top: 1px solid var(--mm-color-border);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: var(--mm-spacing) 0;
}

.lastUpdated {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin-top: calc(var(--mm-spacing) * 2);
  text-align: center;
}

.footerNext,
.footerPrevious {
  border-radius: var(--mm-border-radius);
  color: var(--mm-color-display-text);
  column-gap: calc(var(--mm-spacing) / 2);
  display: grid;
  font-size: 18px;
  font-weight: 500;
  grid-template-columns: auto;
  grid-template-rows: max-content 1fr;
  padding: calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 2);
  text-decoration: none;
  transition: padding 0.2s ease-in-out, background 0.1s ease-in-out;

  &:hover {
    background: var(--mm-color-sidebar);
  }
}

/* stylelint-disable no-descending-specificity */
.footerNext {
  grid-template-areas:
    'direction arrow'
    'title arrow';
  grid-template-columns: 1fr min-content;
  padding-right: var(--mm-spacing);
  text-align: right;

  &:hover {
    padding-right: calc(var(--mm-spacing) / 2);
  }
}

.footerPrevious {
  grid-template-areas:
    'arrow direction'
    'arrow title';
  grid-template-columns: min-content 1fr;
  padding-left: var(--mm-spacing);

  &:hover {
    padding-left: calc(var(--mm-spacing) / 2);
  }
}
/* stylelint-enable no-descending-specificity */

.footerDirection {
  color: var(--mm-color-primary-text);
  display: block;
  font-size: 12px;
  font-weight: 500;
  grid-area: direction;
  text-decoration: none;
}

.footerTitle {
  grid-area: title;
}

.footerArrow {
  align-self: center;
  grid-area: arrow;
  justify-self: center;
}

@include variables.breakpoint('sm') {
  .footer {
    grid-template-areas: 'previous next';
    grid-template-columns: 1fr 1fr;
  }

  .footerNext {
    grid-area: next;
    text-align: right;
  }

  .footerPrevious {
    grid-area: previous;
  }
}

@include variables.breakpoint('md') {
  .article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header,
  .aside,
  .content,
  .footer {
    justify-self: center;
  }
}

@include variables.breakpoint('xl') {
  .article {
    display: grid;
    grid-template-areas:
      'header header'
      'aside aside'
      'content content'
      'last-updated last-updated'
      'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content 1fr min-content;
    height: 100%;
    padding: var(--mm-spacing) 0;
  }

  .header {
    grid-area: header;
    padding: 0 var(--mm-spacing) 0;
  }

  .header ~ .content > *:first-child {
    margin-top: 0;
  }

  .aside {
    grid-area: aside;
    max-width: 800px;
    width: 100%;
  }

  .content {
    grid-area: content;
    padding: 0 var(--mm-spacing);
  }

  .lastUpdated {
    grid-area: last-updated;
  }

  .footer {
    grid-area: footer;
    @include variables.max-width;
  }
}

@include variables.max-breakpoint('xl') {
  .article.releaseNotes .aside,
  .article.releaseNotes .header {
    justify-self: auto;
  }
}


@include variables.max-breakpoint('xxl') {
  .article.releaseNotes {
    display: grid;
    grid-template-areas:
      'header header'
      'content content'
      'aside aside'
      'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content 1fr min-content;
    height: 100%;
  }

  .article.releaseNotes .header {
    grid-area: header;
  }

  .article.releaseNotes .header ~ .content > *:first-child {
    margin-top: 0;
  }

  .article.releaseNotes .aside {
    grid-area: aside;
    @include variables.max-width;
  }

  .article.releaseNotes .content {
    grid-area: content;
  }

  .article.releaseNotes .footer {
    grid-area: footer;
  }
}

@include variables.breakpoint('xxl') {
  .article {
    grid-template-areas:
      'header aside'
      'content aside'
      'footer aside';
    grid-template-columns: calc(100vw - 640px) var(--mm-layout-toc-width);
    grid-template-rows: min-content auto min-content;
    /* autoprefixer: ignore next */
    justify-items: start;
  }

  .header {
    grid-area: header;
  }

  .aside {
    background: var(--mm-color-background);
    border-bottom: 0;
    grid-area: aside;
    height: auto;
    margin: 0;
    min-width: auto;
    padding: 0;
    width: 100%;
  }

  .aside::before,
  .aside::after {
    display: none;
  }

  .tableOfContents {
    max-height: calc(100vh - var(--page-header-height));
    overflow-y: scroll;
    padding: var(--mm-spacing) var(--mm-spacing) 120px 20px;
    position: sticky;
    top: calc(var(--page-header-height));
    width: 100%;
  }

  .content {
    grid-area: content;
  }
}

@include variables.breakpoint('xxxl') {
  .content {
    margin: 0 auto;
  }

  .content > [id^='toc-'] {
    margin: calc(var(--mm-spacing) * 3) 0;
  }
}
