@use '../../styles/variables';

.container {
  background: linear-gradient(#fff, var(--mm-color-sidebar));
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  border-radius: var(--mm-border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  display: grid;
  gap: calc(var(--mm-spacing) / 2);
  grid-template-areas:
    'icon heading arrow'
    '. description arrow';
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto;
  margin-top: 0;
  overflow: hidden;
  padding: calc(var(--mm-spacing) / 2);
  padding-top: calc(calc(var(--mm-spacing) / 2) + 6px);
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in-out;
  @include variables.pattern-border;

  &::before,
  &::after {
    height: 6px !important;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    top: -5px;
  }
}

.container__isCompact {
  gap: calc(var(--mm-spacing) / 4);
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto;
  padding: calc(var(--mm-spacing) / 4);
  padding-top: calc(calc(var(--mm-spacing) / 4) + 6px);
}

.container__noDescription {
  grid-template-areas: 'icon heading arrow';
}

.icon {
  align-self: center;
  color: var(--mm-color-active-blue);
  grid-area: icon;
  height: 30px;
  width: 30px;
}

.container__isCompact .icon {
  height: 18px;
  width: 18px;
}

.heading {
  align-self: center;
  color: var(--mm-color-display-text);
  font-size: 18px;
  font-weight: 500;
  grid-area: heading;
}

.container__isCompact .heading {
  font-size: 14px;
}

.description {
  color: var(--mm-color-primary-text);
  font-size: 14px;
  grid-area: description;
}

.container__isCompact .description {
  font-size: 12px;
}

.arrow {
  border-left: 1px solid var(--mm-color-border);
  color: var(--mm-color-active-blue);
  display: grid;
  grid-area: arrow;
  height: 100%;
  padding-left: calc(var(--mm-spacing) / 2);

  > * {
    align-self: center;
  }
}

.container__isCompact .arrow {
  font-size: 14px;
  padding-left: calc(var(--mm-spacing) / 4);
}
