name: Linting

on:
  push:
  pull_request:

permissions: {}

jobs:
  cache-keys:
    name: Setup – Cache keys
    runs-on: ubuntu-latest

    outputs:
      build: build-${{ steps.build.outputs.hash }}-v2
      dot-cache: dot-cache-${{ github.event.number }}-v1
      node-modules: node-modules-${{ steps.node-modules.outputs.hash }}-v1

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - id: build
        run: echo "hash=${{ hashFiles('assets/**', 'content/**', 'layouts/**', 'static/**', '**/package.json', '**/package-lock.json') }}" >> "GITHUB_OUTPUT"

      - id: node-modules
        run: echo "hash=${{ hashFiles('**/package-lock.json') }}" >> "GITHUB_OUTPUT"

  test-lint:
    name: Test – Lint
    needs: cache-keys
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Get cached dependencies
        uses: actions/cache@v5
        with:
          path: |
            node_modules
          key: ${{ needs.cache-keys.outputs.node-modules }}

      - name: Check that package-lock.json is valid JSON
        run: jq empty package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linters
        run: npm run lint
