/* stylelint-disable */
@use '../../../styles/variables';

.container {
  background-color: var(--mm-color-background-code);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--mm-border-radius);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  position: relative;
  z-index: 2;
}

.container__expandable {
  padding: 5px 5px 45px;

  &::after {
    background: linear-gradient(0deg, rgb(25, 62, 78) 10%, rgba(0, 0, 0, 0)) !important;
    bottom: 40px;
    content: ' ';
    height: 100%;
    left: 0;
    max-height: 300px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.container__expandable.container__expanded::after {
  opacity: 0;
}

.pre {
  display: flex;
  font-family: var(--mm-font-stack-monospace) !important;
  grid-area: code;
  height: 100%;
  margin: var(--mm-spacing) auto 0 !important;
  max-height: 500px;

  overflow-y: hidden !important;

  @include variables.scrollbars();
}

.container__expanded .pre {
  max-height: 100000px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.pre code {
  background: transparent;
}

.expandBtn {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 0 0 var(--mm-border-radius) var(--mm-border-radius);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  bottom: 0;
  color: #bbb;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  left: 50%;
  line-height: 40px;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.expandBtn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: lighten(#b4bbc7, 10);
}

.container__expanded .expandBtn svg {
  transform: rotate(180deg);
}
