.tag {
  background: #e9f8f0;
  border: 1px solid #c7e4d5;
  color: #1c5e3b;
  margin: 0 calc(var(--mm-spacing) / 4) calc(var(--mm-spacing) / 4) 0;
}

.tag::before {
  content: '✓';
  margin-right: 4px;
}

.tag:first-of-type {
  margin-left: 0;
}

.tag:last-of-type {
  margin-right: 0;
}


.tag__disabled {
  background: #eee;
  border: 1px solid #ddd;
  color: #4f4f4f;
}

.tag__disabled::before {
  content: '✗';
}
